html, body{
	height: 100%;
}

header{
	
	top:0;
	left: 0;
	right:0;
	height: 80px;
	background:#ccc;
}
footer{
	
	bottom:0;
	left: 0;
	right:0;
	height: 50px;
	background:#ccc;
}
main{
	height:100%;
	/*padding-top: 80px;*/
	padding-bottom: 50px;
	
}
main h1{
	height: 150px;
	width: 150px;
	background: red;
	color: white;
	margin: auto;
}
.f1
{
 width:500px;
 
}.dformat
{
	padding-top:0px;
}

a:hover
{
	text-decoration:none;
}


.gridblock
{
	padding:10px;
	margin-bottom:20px;
	border:1px solid gray;
	border-radius:10px 10px 10px 10px;
	box-shadow:4px 4px 4px rgb(229, 222, 222);
	
}
.gridblock img
{
	height:150px;
	width:150px;
	
 }
.timer
{
	font-size:20px;
	
}

.caption-2::after {
content: '\201C' attr(data-description) '\201D';
top: 0;
height: 70%;
background: #7A96EA;


font-size: 10px;
text-align: center;
}
.caption-2::before {
content: attr(data-title);
top: 70%;
height: 30%;
background: #A0B4F0;
font-size: 18px;
font-weight: 300;
text-align: center;
}
.caption {
display: inline-block;
position: relative;

}

.caption-2:hover::before, .caption-2:hover::after {
opacity: 1;
}
.caption-2::before {
opacity: 0;
position: absolute;
width: 100%;
color: #fff;
padding: 20px;
-webkit-transition: opacity 0.3s;
-moz-transition: opacity 0.3s;
transition: opacity 0.3s;
}
.caption-2::before, .caption-2::after {
opacity: 0;
position: absolute;
width: 100%;
color: #fff;
padding: 20px;
-webkit-transition: opacity 0.3s;
-moz-transition: opacity 0.3s;
transition: opacity 
}
a.btn.btn-link.collapsed::before
{
    content: "+";
}

#a1::before
{
    content: ">";
}
#a2::before
{

    content: "<";
}
.im1
{
	height:150px;
	width:150px;
	
}

a.btn.btn-link::before
{

    content: "-";
}
a
{
	display:block;
}
a.btn.btn-link:hover
{
	
	color:white;
	text-decoration:none;
	background-color:#0088cc;

}
.collapse
{
	background-color:#F7F5DC;

}
/*ul
{
	list-style:none;
}*/

.asideb {
   
border: 1px solid black;
padding: 15px;
margin: 15px 0;
}

.contentblock
{
	padding: 15px;
margin: 15px 0;
}
video
{
	width:100%; 
	height:100%; 
}
/*.divbg
{
	background-color:gray;
}*/



element.style {
z-index: 1003;
top: 0px;
left: 0px;
margin-left: 0px;
opacity: 1;
transform: none;
transition: all 300ms ease 0ms;
-webkit-transition: all 300ms ease 0ms;
width: 300px;
}
.main p{
color: #AAA;
padding: 20px 30px 0px 0px;
font-size: 20px;
line-height: 34px;
font-weight: 300;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
Pseudo ::before element
*:after, *:before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 0;
margin: 0;
}
.cd-dropdown > span {
width: 80%;
height: 60px;
line-height: 60px;
color: #999;
font-weight: 500;
font-size: 12px;
background: #fff;
display: block;
padding: 0 50px 0 30px;
position: relative;
cursor: pointer;
}

.cd-dropdown > span:after {
content: '\25BC';
position: absolute;
right: 0px;
top: 15%;
width: 70px;
text-align: center;
font-size: 8px;
/*padding: 10px;*/
height: 70%;
line-height: 24px;
border-left: 1px solid #ddd;
}
*:after, *:before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 0;
margin: 0;
}
.fleft {
width: 100%;
float: none;
text-align: center;
}
element.style {
z-index: 1004;
}
.cd-active.cd-dropdown > span, .cd-active.cd-dropdown ul li span {
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.cd-active.cd-dropdown > span {
color: #ccc;
}
#brs
{
	border-radius:20px;
}