<div class="row">
	<div class="col-md-12 main-content">
	<div class="row">
			<div class="col-md-12 border-bottom">
				<ol class="breadcrumb pull-left">
					<li><a href="#">Dashboard</a></li>
					<li class="active">Assignments</li>
				</ol>
				<div class="pull-right toolbar">
					<button class="btn btn-default" type="button"><span class="glyphicon glyphicon glyphicon-arrow-left iconback"></span></button>
					<a class="btn btn-default">
						<span class="glyphicon glyphicon-th-large dropdown-toggle iconback" data-toggle="dropdown" aria-expanded="false"></span>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">New Tab</a></li>
							<li><a href="#">New Window</a></li>
							<li><a href="#">History</a></li>
							<li><a href="#">Recent Tab</a></li>
							<li><a href="#">Zoom</a></li>
							<li><a href="#">Find</a></li>
							<li><a href="#">Exit</a></li>
						</ul>
					</a>
				</div>
			</div>
	<div class="row contentblock">	
		<h3>Syllabus Wise</h3>
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
				<div class="gridblock">
					<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
				</div>
			</div>
			<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
				<div class="gridblock">
					<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
				</div>
			</div>
			<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
				<div class="gridblock">
					<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
				</div>
			</div>
			<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
				<div class="gridblock">
					<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
				</div>
			</div>
			<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
				<div class="gridblock">
					<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
				</div>
			</div>
			<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
				<div class="gridblock">
					<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
				</div>
			</div>
		</div>
		
		<div class="row border-bottom">
		<h3>Non-Syllabus Wise</h3>
		<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
			<div class="gridblock">
				<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
			</div>
		</div>
		<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
			<div class="gridblock">
				<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
			</div>
		</div>
		<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
			<div class="gridblock">
				<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
			</div>
		</div>
		<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
			<div class="gridblock">
				<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
			</div>
		</div>
		<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
			<div class="gridblock">
				<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
			</div>
		</div>
		<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
			<div class="gridblock">
				<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
			</div>
		</div>
		</div>
	</div>
	
	</div>
<!-- popup modal -->
		<button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">All Assignments</button>
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="exampleModalLabel">All Assignments</h4>
				  </div>
				  <div class="modal-body">
					<div class="row">
						<div class="col-md-3">
							<h5>Index</h5>
							<div class="dropdown">
								  <a id="dLabel" data-target="#" href="partials/assignment.html" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
									Assignments
									<span class="caret"></span>
								  </a>

								  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<li><a href="#">Assignment 1</a></li>
									<li><a href="#">Assignment 2</a></li>
									<li><a href="#">Assignment 3</a></li>
									<li><a href="#">Assignment 4</a></li>
									<li><a href="#">Assignment 5</a></li>
									<li><a href="#">Assignment 6</a></li>
									
								  </ul>
							</div>
						</div>
						<div class="col-md-9">
								<table class="table table-bordered">
									<thead> Assignment Details</thead>
									<tbody>
										<tr>
											<th>Sr No.</th>
											<th>Assign Name</th>
											<th>Status</th>
											<th>Score</th>
											<th>Waitage</th>
											<th>Model Assign</th>
										</tr>
										
										<tr>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
										</tr>
										<tr>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
										</tr>
									</tbody>
  
								</table>
								
						</div>
						</div>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">New Assignment</button>
				  </div>
				</div>
			  </div>
	</div>
	<!-- end pop up -->
	</div>
	<!--ProgressBar-->
	<div class="progress">
		<div class="progress-bar progress-bar-success" style="width: 35%">
			<span class="sr-only">35% Complete (success)</span>
		</div>
		<div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
			<span class="sr-only">20% Complete (warning)</span>
		</div>
		<div class="progress-bar progress-bar-danger" style="width: 10%">
			<span class="sr-only">10% Complete (danger)</span>
		</div>
	</div><!--End of progressBar-->
	</div>
</div>





<script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  //modal.find('.modal-body input').val(recipient)
})
$('.dropdown-toggle').dropdown();
</script>
