<section>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2 asideb">
				<img src="img/blog_pic2.jpg" class="img-circle center-block">
				<b>Name:</b><br>
				<b>Class:</b><br>
				<b>School:</b><br>
				<b>City:</b><br>
			</div>
			<div class="col-md-6">
				<h4>News Feed</h4>
				<div class="col-md-3">
					<img src="img/blog_pic2.jpg">
				</div>
				<div class="col-md-9">
					<p>The Encyclopedia covers key concepts, people, events, and organizations that played a role in the forced removal and incarceration of Japanese Americans during World War II. The reviewed articles are written by a wide range of contributors, and are enhanced with photos, documents and video drawn from Densho's digital archives and other sources.</p>
				</div>
				
				<div class="col-md-3">
					<img src="img/blog_pic2.jpg">
				</div>
				<div class="col-md-9">
					<p>The Encyclopedia covers key concepts, people, events, and organizations that played a role in the forced removal and incarceration of Japanese Americans during World War II. The reviewed articles are written by a wide range of contributors, and are enhanced with photos, documents and video drawn from Densho's digital archives and other sources.</p>
				</div>
				<div class="col-md-3">
					<img src="img/blog_pic2.jpg">
				</div>
				<div class="col-md-9">
					<p>The Encyclopedia covers key concepts, people, events, and organizations that played a role in the forced removal and incarceration of Japanese Americans during World War II. The reviewed articles are written by a wide range of contributors, and are enhanced with photos, documents and video drawn from Densho's digital archives and other sources.</p>
				</div>
				
	<h4>Comments</h4>
			<p>The Encyclopedia covers key concepts....</p>
			<p>The Encyclopedia covers key concepts....</p>
			<p>The Encyclopedia covers key concepts....</p>
			</div>
			<div class="col-md-3">
			<h3>WelCome</h3>
			<div class="row">
			<button type="button" class="btn btn-warning">Search</button>
			</div><br>
			<div class="row">
			<button type="button" class="btn btn-warning">Post</button>
			</div><br>
			<div class="row">
			<button type="button" class="btn btn-warning">Ask Questions</button><br>
			</div>
			</div>
		</div>
	</div>
</section>