<section>
<div class="row">
		<div class="col-md-12 main-content">
			<div class="col-md-2 sidebar">
				<img src="img/blog_pic2.jpg" class="img-circle center-block">
				<br>
				<b>Name:</b><br>
				<b>Class:</b><br>
				<b>School:</b><br>
				<b>City:</b><br><br>
				<div class="col-md-12">
					<ul class="list-unstyled">
					<li>
					<a class="btn btn-link collapsed" id="a1" data-toggle="collapse" data-target="#demo">My Classmates</a>
					<ul id="demo" class="collapse list-unstyled">
						<li><a class="btn btn-link" id="a2">Ahmednagar</a></li>
						<li><a class="btn btn-link" id="a2">Pune</a></li>
						<li><a class="btn btn-link" id="a2">Mumbai</a></li>
						<li><a class="btn btn-link" id="a2">Nashik</a></li>
					</ul>
					</li>
					</ul>
					<ul class="list-unstyled">
					<li>
					<a class="btn btn-link collapsed" id="a1" data-toggle="collapse" data-target="#demo1">My Group</a>
					<ul id="demo1" class="collapse list-unstyled">
						<li><a class="btn btn-link" id="a2">Ahmednagar</a></li>
						<li><a class="btn btn-link" id="a2">Pune</a></li>
						<li><a class="btn btn-link" id="a2">Mumbai</a></li>
						<li><a class="btn btn-link" id="a2">Nashik</a></li>
					</ul>
					</li>
					</ul>
					
					<ul class="list-unstyled">
					<li>
					<a class="btn btn-link collapsed" id="a1" data-toggle="collapse" data-target="#demo2">My Friends</a>
					<ul id="demo2" class="collapse list-unstyled">
						<li><a class="btn btn-link" id="a2">Ankit</a></li>
						<li><a class="btn btn-link" id="a2">Richa</a></li>
						<li><a class="btn btn-link" id="a2">Madhavi</a></li>
					</ul>
					</li>
					</ul>
					
					<ul class="list-unstyled">
					<li>
					<a class="btn btn-link collapsed" id="a1" data-toggle="collapse" data-target="#demo3">My Chat</a>
					<ul id="demo3" class="collapse list-unstyled">
						<li><a class="btn btn-link" id="a2">Ankita</a></li>
						<li><a class="btn btn-link" id="a2">Nitin</a></li>
						<li><a class="btn btn-link" id="a2">Shirish</a></li>
					</ul>
					</li>
					</ul>
				</div>
			</div>
			
	<div class="col-md-10">
			<div class="row">
			<div class="col-md-12">
			<h4  class="col-md-12 border-bottom">News Feed</h4>
			<!--<div class="col-md-2">-->
			<div class="btn-group pull-right">
			<span class="glyphicon glyphicon-th-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></span>
			<span class="sr-only"></span>
				<ul class="dropdown-menu" role="menu">
				<li><a href="#">New Tab</a></li>
				<li><a href="#">New Window</a></li>
				<li><a href="#">History</a></li>
				<li><a href="#">Recent Tab</a></li>
				<li><a href="#">Zoom</a></li>
				<li><a href="#">Find</a></li>
				<li><a href="#">Exit</a></li>
				</ul>
			</div>
			</div>
			</div>
			<!--</div>-->
			
			
	<div class="row">
	<div class="col-md-8">
	
	
	
	
	
		
			<!--<div class="col-md-3">
				<div class="media">
			<div class="media-left">
			<a href="#">
			<img class="media-object" src="img/blog_pic2.jpg" alt="...">
			</a>
			</div>
			<div class="media-body">
			<h4 class="media-heading">Classmate</h4>
			</div>
			</div>
			</div>
			<div class="col-md-9">
					<p>The Encyclopedia covers key concepts, people, events, and organizations that played a role in the forced removal and incarceration of Japanese Americans during World War II. The reviewed articles are written by a wide range of contributors, and are enhanced with photos, documents and video drawn from Densho's digital archives and other sources.</p>
			</div>-->
		
				
			
		

		
		
		
		
	<div class="media">
	<div class="media-left">
    <a href="#">
      <img class="media-object" src="img/blog_pic2.jpg"  alt="...">
    </a>
	</div>
	<div class="media-body">
    <h4 class="media-heading">Heading</h4>
	<p>The Encyclopedia covers key concepts, people, events, and organizations that played a role in the forced removal and incarceration of Japanese Americans during World War II. The reviewed articles are written by a wide range of contributors, and are enhanced with photos, documents and video drawn from Densho's digital archives and other sources.</p>
    </div>
	</div>
	
	
		
		
	<div class="media">
	<div class="media-left">
    <a href="#">
      <img class="media-object" src="img/blog_pic2.jpg"  alt="...">
    </a>
	</div>
	<div class="media-body">
    <h4 class="media-heading">Heading</h4>
	<p>The Encyclopedia covers key concepts, people, events, and organizations that played a role in the forced removal and incarceration of Japanese Americans during World War II. The reviewed articles are written by a wide range of contributors, and are enhanced with photos, documents and video drawn from Densho's digital archives and other sources.</p>
    </div>
	</div>
	
	<div class="media">
	<div class="media-left">
    <a href="#">
      <img class="media-object" src="img/blog_pic2.jpg"  alt="...">
    </a>
	</div>
	<div class="media-body">
    <h4 class="media-heading">Heading</h4>
	<p>The Encyclopedia covers key concepts, people, events, and organizations that played a role in the forced removal and incarceration of Japanese Americans during World War II. The reviewed articles are written by a wide range of contributors, and are enhanced with photos, documents and video drawn from Densho's digital archives and other sources.</p>
    </div>
	</div>

	<div class="media">
	<div class="media-left">
    <a href="#">
      <img class="media-object" src="img/blog_pic2.jpg"  alt="...">
    </a>
	</div>
	<div class="media-body">
    <h4 class="media-heading">Heading</h4>
	<p>The Encyclopedia covers key concepts, people, events, and organizations that played a role in the forced removal and incarceration of Japanese Americans during World War II. The reviewed articles are written by a wide range of contributors, and are enhanced with photos, documents and video drawn from Densho's digital archives and other sources.</p>
    </div>
	</div>



			<div class="col-md-12">
			<textarea  class="form-control" id="Address" ng-model="reg.address" name="Address" placeholder="Add Comment" required></textarea>
			<br>
			</div>
			<br>
			<div class="row">
			<div class="col-md-12">
				<a href="#" class="btn btn-warning pull-right" data-dismiss="modal">Comment</a>
				<br>
				 <br>
			</div>
			</div>
	</div>
	
	<div class="col-md-2">
		<div class="input-group">
		<input type="text" class="form-control" placeholder="Search ">
		<span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
		</span>
		</div>
		<br>
	
			<!--<div class="input-group">
			<input type="text"  class="form-control" id="brs"  placeholder="Search..">
			<span class="input-group-btn">
			<button class="btn btn-default glyphicon glyphicon-search" type="button" id="brs"></button>
			</span>
			</div><br>-->
			
		<a href="#"  class="btn btn-warning center-block" data-dismiss="modal">Ask Question</a>
		<br>
		<a href="#"  class="btn btn-warning center-block" data-dismiss="modal">Add Your Post</a>
		<br>
		<a href="#"  class="btn btn-warning center-block" data-dismiss="modal">Ask Question</a>
		<br>
		
	</div>
	</div>

	</div>
	</div>
</div>
</section>