<div class="row">		
	<div class="col-md-12 main-content">	
		<div class="row">
			<div class="col-md-12 border-bottom">
				<div class="row">
					<div class="col-md-8" ng-include="'partials/components/breadcrumb.html'"></div>
					<div class="col-md-4" ng-include="'partials/components/menu-back.html'"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped table-bordered">
					<thead>
						<th>Sr.No.</th>
						<th>Assignment Name</th>
						<th>Submit Date</th>
						<th>Subject</th>
						<th>Feedback</th>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>XXX</td>
							<td></td>
							<td></td>
							<td><a href="#" class="glyphicon glyphicon-eye-open btn btn-default" aria-hidden="true"></a>
							<a href="#" class="glyphicon glyphicon-comment btn btn-default" aria-hidden="true"></a></td>
						</tr>
						<tr>
							<td>2</td>
							<td>XXX</td>
							<td></td>
							<td></td>
							<td><a href="#" class="glyphicon glyphicon-eye-open btn btn-default" aria-hidden="true"></a>
							<a href="#" class="glyphicon glyphicon-comment btn btn-default" aria-hidden="true"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
	