
<div class="row">	
	<div class="col-md-12">
		<h3>My Course Subject</h3>	
	</div>	
</div>

<div class="row">	
	<div class="col-md-3">
		<div class="dashboard">
			<a href="#"><img src="img/images (1).jpg" class="center-block"></a>
		</div>
	</div>	
	<div class="col-md-3">
		<div class="dashboard"> 
			<a href="#"><img src="img/images (1).jpg" class="center-block"></a>	
		</div>
	</div>	
	<div class="col-md-3">
		<div class="dashboard">
			<a href="#"><img src="img/images (1).jpg" class="center-block"></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="dashboard">
			<a href="#"><img src="img/images (1).jpg" class="center-block"></a>	
		</div>
	</div>	
</div>

<div class="row">	
	<div class="col-md-3">
		<div class="dashboard">
			<a href="#"><img src="img/images (1).jpg" class="center-block"></a>
		</div>
	</div>	
	<div class="col-md-3">
		<div class="dashboard"> 
			<a href="#"><img src="img/images (1).jpg" class="center-block"></a>	
		</div>
	</div>	
	<div class="col-md-3">
		<div class="dashboard">
			<a href="#"><img src="img/images (1).jpg" class="center-block"></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="dashboard">
			<a href="#"><img src="img/images (1).jpg" class="center-block"></a>	
		</div>
	</div>	
</div>
<div class="row">	
	<div class="col-md-12">
		<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-target="#demo">Add Courses</button>
		<ul id="demo" class="collapse">
			<li><a class="btn btn-link">
			<img src="img/blog_pic2.jpg" class="center-block">
			</a></li>
			<li><a class="btn btn-link">
			<img src="img/blog_pic2.jpg" class="center-block">
			</a></li>
			<li><a class="btn btn-link">
			<img src="img/blog_pic2.jpg" class="center-block">
			</a></li>
			<li><a class="btn btn-link">
			<img src="img/blog_pic2.jpg" class="center-block">
			</a></li>
		</ul>
	</div>			
</div>




