<div class="row">
	<div class="col-md-12 main-content">
		<div class="row">	
			<div class="col-md-12 border-bottom">
				<div class="row">
					<div class="col-md-6" ng-include="'partials/components/breadcrumb.html'">
					</div>
				</div>		
			</div>	
		</div>
		<div class="row border-bottom">
			<div class="col-md-12">
				<marquee><h3>Welcome To e-School</h3></marquee>
			</div>
			<div class="col-md-12" ng-include="'partials/components/row.html'">
			</div>
			<div class="col-md-12" ng-include="'partials/components/row.html'">
			</div>		
		</div>
		<div class="row">
			<div class="col-md-12" ng-include="'partials/components/progress.html'">
			</div>
		</div>
	</div>
</div>
