<h3 class="text-center">Subjects</h3>	

<div class="row contentblock">	
		<div class="col-md-4 col-lg-2 col-sm-3 col-xs-6">
			<div class="gridblock">
				<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-3 col-xs-6">
			<div class="gridblock">
				<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-3 col-xs-6">
			<div class="gridblock">
				<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-3 col-xs-6">
			<div class="gridblock">
				<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-3 col-xs-6">
			<div class="gridblock">
				<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-3 col-xs-6">
			<div class="gridblock">
				<a href="#"><img src="img/m4.jpg"  class="img-responsive"></a>
			</div>
		</div>
		
		
</div>
		<div>
			<h3 class="text-center">Subject Headings</h3>	
		</div>
<div class="row">	
		
	<div class="col-md-2 asideb">
      
	  <h3 class="text-center">Index</h3>
	 
        <ul class="list-unstyled">
			<li>
				<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#demo">Topic One</a>
					<ul id="demo" class="collapse list-unstyled">
						<li><a class="btn btn-link">Inner content</a></li>
						<li><a class="btn btn-link">Inner content</a></li>
						<li><a class="btn btn-link">Inner content</a></li>
					</ul>
			</li>
			<li>
				<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#demo1">Topic Two</a>
					<ul id="demo1" class="collapse list-unstyled">
						<li><a class="btn btn-link">Inner content</a></li>
						<li><a class="btn btn-link">Inner content</a></li>
						<li><a class="btn btn-link">Inner content</a></li>
					</ul>
			</li>
		</ul>
		
	</div>
	<div class="col-md-4 contentblock">
		
			<div>
				<a href="#"><img src="img/sld.jpg" class="img-responsive"></a>
			</div>
		
	</div>
	<div class="col-md-6 contentblock">
		
			<video class="center-block" controls>
			  <source src="movie.mp4" type="video/mp4">
			  <source src="movie.ogg" type="video/ogg">
				Your browser does not support the video tag.
			</video>
			
	</div>
</div>

<div class="row">	
		
	<div class="col-md-1">
		<h4>Comment</h4>	
	</div>
	<div class="col-md-7 form-group ">
	<form>
		<textarea type="text" id="property_for" name="prop_desc" col="8" rows="6" class="form-control"></textarea>
	</form>
	</div>
</div>
<div class="row">		
	<div class="col-md-11 pull-right">
			<button type="button" class="btn btn-primary">Submit</button>	
	</div>
</div>