<!--catagory-->
			<!--<div class="fleft">
			<p>In this example we use a gutter of 5, stack the items with a slight offset, and expand them with a slight random angle/left values. Each item will have a different animation delay.</p>
					<p>In this example we use a gutter of 5, stack the items with a slight offset, and expand them with a slight random angle/left values. Each item will have a different animation delay.</p>
			</div>-->
		<section>
			<div class="row">
				<div class="col-md-3">
					<div class="fleft">
						<div class="cd-dropdown cd-active">
						<span style="z-index: 1004;">Catagory</span>
						<input type="hidden" name="cd-dropdown">
						<ul class="list-unstyled" style="height: 325px;">
						<li data-value="1" style="z-index: 1003; top: 65px; left: 1px; margin-left: 0px; opacity: 1; transform: rotate(-4deg); transition: all 300ms ease 300ms; -webkit-transition: all 300ms ease 300ms; width: 300px;"><span class="glyphicon glyphicon-star-empty">Google Plus</span>
						</li>
						<li data-value="2" style="z-index: 1002; top: 130px; left: 3px; margin-left: 0px; opacity: 1; transform: rotate(3deg); transition: all 300ms ease 200ms; -webkit-transition: all 300ms ease 200ms; width: 300px;"><span class="glyphicon glyphicon-star-empty">Facebook</span>
						</li>
						<li data-value="3" style="z-index: 1001; top: 195px; left: 0px; margin-left: 0px; opacity: 1; transform: rotate(1deg); width: 300px; transition: all 300ms ease 100ms; -webkit-transition: all 300ms ease 100ms;"><span class="glyphicon glyphicon-star-empty">Twitter</span>
						</li>
						<li data-value="4" style="z-index: 1000; top: 260px; left: -4px; margin-left: 0px; opacity: 1; transform: rotate(-1deg); width: 300px; transition: all 300ms ease 0ms; -webkit-transition: all 300ms ease 0ms;">
						<span class="glyphicon glyphicon-star-empty">GitHub</span>
						</li>
						</ul>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<h4>Welcome To Projects</h4>
					<p>
					
					</p>
				</div>
			</div>
		</section>
			<!--End catagory-->