<div class="row">
	<div class="col-md-12  main-content">
		<div class="row">
			<div class="col-md-12 border-bottom">
				<button type="button" class="glyphicon glyphicon-bold"></button>
				<button type="button" class="glyphicon glyphicon-italic"></button>
				<button type="button"><u>U</u></button>
				<button type="button">-abc-</button>
				<select>
					<option value="times">-Select Style-</option>
					<option value="times">Times new Roman</option>
					<option value="courier">Courier</option>
					<option value="couriernew">Courier New</option>
					<option value="elephant">Elephant</option>
				</select>
				<button type="button" class="glyphicon glyphicon-list"></button>
				<button type="button" class="glyphicon glyphicon-text-color"></button>
				<button type="button">Undo</button>
				<button type="button">Redo</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12"></div>
		</div>
	</div>
</div>