
<div class="row">
<div class="col-md-12 main-content">
	<div class="col-md-12">
		<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-6">
		
		
		<div class="btn-group pull-right">
			<span class="glyphicon glyphicon-th-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></span>
			<span class="sr-only"></span>
				<ul class="dropdown-menu" role="menu">
				<li><a href="#">New Tab</a></li>
				<li><a href="#">New Window</a></li>
				<li><a href="#">History</a></li>
				<li><a href="#">Recent Tab</a></li>
				<li><a href="#">Zoom</a></li>
				<li><a href="#">Find</a></li>
				<li><a href="#">Exit</a></li>
				</ul>
		</div>
		</div>
		</div>
		
				<input type="text" class="form-control text-right" name="books" ng-model="books">
			
		<!--<div class="row pull-right" >
			<div class="col-md-3 col-xs-12 col-sm-12 elib">
			No Of Books
			</div>
			<div class="col-md-2 col-xs-12 col-sm-12 elib">
				<input type="text" class="form-control" name="books" ng-model="books">
			</div>
			<div class="col-md-3 col-xs-12 col-sm-12 elib">
				<input type="text"    ng-model="search.title" class="form-control" placeholder="Search">
			</div>
			<div class="col-md-4 col-xs-12 col-sm-12 elib">
			<button class=" btn btn-toggle collapsed   glyphicon glyphicon-align-justify " data-toggle="collapse" data-target="#demo"></button>
					<ul id="demo" class="collapse list-unstyled">
						<li><a class="btn btn-link">LogOut</a></li>
						<li><a class="btn btn-link">Edit Profile</a></li>
						
					</ul>
			</div>
		</div>-->
		
	</div>
	

<h4>Books...</h4>
<div class="row">
		<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
			<div class="dashboard">
			<img src="img/tr.jpg"  class="img-responsive">
			</div>
			<h5>Author</h5>
		</div>
		<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
			<div class="dashboard">
			<img src="img/tr1.jpg"  class="img-responsive">
			</div>
			<h5>Authors</h5>
		</div>
		<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
			<div class="dashboard">
			<img src="img/tr2.jpg"  class="img-responsive" >
			</div>
			<h5>Authors</h5>
		</div>
		<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
			<div class="dashboard">
			<img src="img/tr4.jpg"  class="img-responsive">
			</div>
			<h5>Authors</h5>
		</div>
		<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
			<div class="dashboard">
			<img src="img/tr2.jpg"  class="img-responsive">
			</div>
			<h5>Authors</h5>
		</div>
		<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
			<div class="dashboard">
			<img src="img/tr5.jpg" class="img-responsive">
			</div>
			<h5>Authors</h5>
		</div>
</div>
<div class="row">
		<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
			<div class="dashboard">
			<img src="img/tr5.jpg"  class="img-responsive">
			</div>
			<h5>Authors</h5>
			
		</div>
		<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
			<div class="dashboard">
			<img src="img/tr2.jpg"  class="img-responsive">
			</div>
			<h5>Authors</h5>
		</div>
		<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
			<div class="dashboard">
			<img src="img/tr2.jpg"  class="img-responsive" >
			</div>
			<h5>Authors</h5>
		</div>
		<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
			<div class="dashboard">
			<img src="img/tr4.jpg"  class="img-responsive">
			</div>
			<h5>Authors</h5>
		</div>
		<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
			<div class="dashboard">
			<img src="img/tr2.jpg"  class="img-responsive">
			</div>
			<h5>Authors</h5>
		</div>
		<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
			<div class="dashboard">
			<img src="img/tr5.jpg" class="img-responsive">
			</div>
			<h5>Authors</h5>
		</div>
		
	</div>	
		<!--modal-->
		<button type="button" class="btn btn-success center-block" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Select Book</button>
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New Books</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3">
					<img src="img/book1.jpg">
				</div>
				<div class="col-md-3">
					<img src="img/book4.jpg">
				</div>
				<div class="col-md-3">
					<img src="img/book3.jpg">
				</div>	
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Select</button>
      </div>
    </div>
</div>
</div>
</div>
</div>
<script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script>
	
