<div class="row">
	<div class="col-md-12 main-content">
		<div class="row">
			<div class="col-md-12 border-bottom">
				<div class="row">
					<div class="col-md-6 pull-left">
						<ol class="breadcrumb">
							<li><a href="#">Dashboard</a></li>
							<li class="active">e-Learning</li>
							<li class="active">Catagory</li>
						</ol>
					</div>
				<div class="col-md-6 pull-right">
						<div class="row">
						<div class="col-md-4">
						<span class="">No of Books:</span>
						</div>
						<div class="col-md-4">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search ">
							<span class="input-group-btn">
							<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
							</span>
						</div>
						</div>
						<div class="col-md-2">
						<a href="#"><span class="glyphicon glyphicon-arrow-left pull-left"></span></a>
						</div>
						<div class="col-md-2">
						<div class="btn-group pull-right">
							<span class="glyphicon glyphicon-th-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></span>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">New Tab</a></li>
								<li><a href="#">New Window</a></li>
								<li><a href="#">History</a></li>
								<li><a href="#">Recent Tab</a></li>
								<li><a href="#">Zoom</a></li>
								<li><a href="#">Find</a></li>
								<li><a href="#">Exit</a></li>
							</ul>
						</div>
						</div>
					</div>
				</div>	
			</div>
			</div>
		
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<h4 class="pull-left">Books</h4>
						
						<!-- Split button -->
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default">Catagory</button>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span class="caret"></span>
						</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Technical</a></li>
						<li><a href="#">Story</a></li>
						<li><a href="#">GK</a></li>
						<li><a href="#">Science</a></li>
						<li><a href="#">Maths</a></li>
						<li><a href="#">History</a></li>
					</ul>
					</div>
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr.jpg"  class="img-responsive">
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr1.jpg"  class="img-responsive">
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr2.jpg"  class="img-responsive" >
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr4.jpg"  class="img-responsive">
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr2.jpg"  class="img-responsive">
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr5.jpg" class="img-responsive">
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr5.jpg"  class="img-responsive">
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr2.jpg"  class="img-responsive">
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr2.jpg"  class="img-responsive" >
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr4.jpg"  class="img-responsive">
					</div>
				</div>		
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr2.jpg"  class="img-responsive">
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr5.jpg" class="img-responsive">
					</div>
				</div>
			
			
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr5.jpg"  class="img-responsive">
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr2.jpg"  class="img-responsive">
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr2.jpg"  class="img-responsive" >
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr4.jpg"  class="img-responsive">
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr2.jpg"  class="img-responsive">
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
					<div class="gridblock">
						<img src="img/tr5.jpg" class="img-responsive">
					</div>
				</div>
			</div>
		</div>	
		<!--modal-->
		<button type="button" class="btn btn-success center-block" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Select Book</button>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="exampleModalLabel">New Books</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-3">
							<img src="img/book1.jpg">
						</div>
						<div class="col-md-3">
							<img src="img/book4.jpg">
						</div>
						<div class="col-md-3">
							<img src="img/book3.jpg">
						</div>	
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Select</button>
			</div>
		</div>
	</div>
	</div>
</div>
</div>

<script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script>
	
