<div class="row">
	<div class="col-md-2 asideb">
		
			<div>
				<input type="text" ng-model="search.title" id="brs" class="form-control glyphicon glyphicon-search-right" placeholder="Search">
			</div>
			<h5>Index</h5>	
			<div class="col-md-2 asideb">
			<div class="dropdown">
					<a class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="true">
					Category
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">One</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Two</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Three</a></li>
					</ul>
			</div>
		
				<h5>Maharashtra</h5>
			<div class="dropdown">
					<a class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="true">
					Category
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">One</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Two</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Three</a></li>
					</ul>
			</div>
				<h5>Search Result</h5>
		<ul  class="list-unstyled">
					<li><a href="#">Map</a></li>
					<li><a href="#">Math</a></li>
					<li><a href="#">Assignments</a></li>
					<li><a href="#">Projects</a></li>
					<li><a href="#">Chemistry</a></li>
					<li><a href="#">Map</a></li>
					<li><a href="#">Math</a></li>
					<li><a href="#">Assignments</a></li>
					<li><a href="#">Projects</a></li>
					<li><a href="#">Chemistry</a></li>
					<li><a href="#">Map</a></li>
					<li><a href="#">Math</a></li>
					<li><a href="#">Assignments</a></li>
					<li><a href="#">Projects</a></li>
					<li><a href="#">Chemistry</a></li>
					
				</ul>
				</div>
		
	</div>
	
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-12">
				<h3>Welcome To Encyclopaedia</h3>
				<p>The Encyclopedia covers key concepts, people, events, and organizations that played a role in the forced removal and incarceration of Japanese Americans during World War II. The reviewed articles are written by a wide range of contributors, and are enhanced with photos, documents and video drawn from Densho's digital archives and other sources.</p>
				 <div class="col-md-4">
						<input type="text" ng-model="search.title" class="form-control glyphicon glyphicon-search-right" placeholder="Search">
				 </div>
			</div>
		</div>
		

		<div class="row">
				<div class="col-md-9 ">
					<h4>Heading</h4>
					<p>This is heading of this div.hdfg djfdgh hdgf fds
					The Encyclopedia covers key concepts, people, events, and organizations that played a role in the forced removal and incarceration of Japanese Americans during World War II</p>
				</div>
				<div class="col-md-3 ">
				<img src="img/k.jpg" class="im1 img-responsive">
				</div>
		</div>
	</div>
</div>