<header>
	<div class="container">
		<div class="row">
		
			<div class="col-md-3">	
				<a class="navbar-brand " href="#"><img src="img/logo.png"></a>	
			</div>
			
			<div class="col-md-4">
				<h1>Welcome to E-School</h1>
			</div>
			
			<div class="col-md-2">
				<img src="img/blog_pic2.jpg" class="center-block">
			</div>
			
			<div class="col-md-3 dformat">
				<div class="dropdown">
					<a class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="true">
					Users Menu
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Log In</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Log Out</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Create Ur Account</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
		
