<div class="row">
<div class="col-md-12 contain">
	<div class="col-md-2 asideb">
	<aside>
	<div>
    <input type="text" ng-model="search.title" class="form-control glyphicon glyphicon-search-right" placeholder="Search">
    </div>
		<h5>Index</h5>
		<hr>
		<h5>India</h5>		
		<div class="btn-group">
		<button type="button" class="btn btn-default">Catagory</button>
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu" role="menu">
		<li><a href="#">One</a></li>
		<li><a href="#">Two</a></li>
		<li><a href="#">Three</a></li>
		<!--<li class="divider">Four</li>-->
		<li><a href="#">Four</a></li>
		</ul>
		</div>
		<h5>Maharashtra</h5>
		<div class="btn-group">
		<button type="button" class="btn btn-default">Catagory</button>
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu" role="menu">
		<li><a href="#">One</a></li>
		<li><a href="#">Two</a></li>
		<li><a href="#">Three</a></li>
		<!--<li class="divider">Four</li>-->
		<li><a href="#">Four</a></li>
		</ul>
		</div>
		<h5>World</h5>
		<div class="btn-group">
		<button type="button" class="btn btn-default">Catagory</button>
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu" role="menu">
		<li><a href="#">One</a></li>
		<li><a href="#">Two</a></li>
		<li><a href="#">Three</a></li>
		<!--<li class="divider">Four</li>-->
		<li><a href="#">Four</a></li>
		</ul>
		</div>
		<h5>Search Result</h5>
		<ul>
			<li><a href="#">Map</a></li>
			<li><a href="#">Math</a></li>
			<li><a href="#">Assignments</a></li>
			<li><a href="#">Projects</a></li>
			<li><a href="#">Chemistry</a></li>
			<li><a href="#">Map</a></li>
			<li><a href="#">Math</a></li>
			<li><a href="#">Assignments</a></li>
			<li><a href="#">Projects</a></li>
			<li><a href="#">Chemistry</a></li>
			<li><a href="#">Map</a></li>
			<li><a href="#">Math</a></li>
			<li><a href="#">Assignments</a></li>
			<li><a href="#">Projects</a></li>
			<li><a href="#">Chemistry</a></li>
			
		</ul>
	</aside>
	</div>
	<div class="col-md-10">
	<video controls>
	<source src="movie.mp4" type="video/mp4">
	<source src="movie.ogg" type="video/ogg">
	</video>
	
	<h5>Comments</h5>
	<p>Please write Your Comments Here</p>
	</div>
</div>
</div>