<div class="row">	
	<div class="col-md-2">
      
	  <h3>Timer</h3>
	  <div class="timer">
		<span aria-hidden="true">00:</span>
		<span aria-hidden="true">00</span>
	  </div>
	  
	  <h3>Questions</h3>
        <ul class="list-unstyled">
			<li>
				<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#demo">Topic One</a>
					<ul id="demo" class="collapse">
						<li><a class="btn btn-link">Inner content</a></li>
						<li><a class="btn btn-link">Inner content</a></li>
						<li><a class="btn btn-link">Inner content</a></li>
					</ul>
			</li>
			<li>
				<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#demo1">Topic Two</a>
					<ul id="demo1" class="collapse">
						<li><a class="btn btn-link">Inner content</a></li>
						<li><a class="btn btn-link">Inner content</a></li>
						<li><a class="btn btn-link">Inner content</a></li>
					</ul>
			</li>
		</ul>
		
	</div>
	
	<div class="col-md-10">
		<h3>Glosary</h3>
			<video width="320" height="240" class="center-block" controls>
			  <source src="movie.mp4" type="video/mp4">
			  <source src="movie.ogg" type="video/ogg">
				Your browser does not support the video tag.
			</video>
			
		<!--<div style="text-align:center"> 
			  <button onclick="playPause()">Play/Pause</button> 
			  <button onclick="makeBig()">Big</button>
			  <button onclick="makeSmall()">Small</button>
			  <button onclick="makeNormal()">Normal</button>
			  <br> 
			  <video id="video1" width="420">
					<source src="mov_bbb.mp4" type="video/mp4">
					<source src="mov_bbb.ogg" type="video/ogg">
					Your browser does not support HTML5 video.
			  </video>
		</div> -->


	</div>
</div>

<script>
var myVar=setInterval(function(){myTimer()},1000);

function myTimer() {
    var d = new Date();
    document.getElementById("demo").innerHTML = d.toLocaleTimeString();
}
</script>