<div class="row">
<div class="col-md-12 contain">
<div class="row">	
	<div class="col-md-2 asideb">
		<div class="text-center">
			<img src="img/timer_clock.png">
		</div>
		<div class="timer text-center">
			<span aria-hidden="true">00 :</span>
			<span aria-hidden="true">00</span>
		</div>
	  
	  <h3 class="text-center">Questions</h3>
        <ul class="list-unstyled">
			<li>
				<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#demo">Topic One</a>
					<ul id="demo" class="collapse list-unstyled">
						<li><a class="btn btn-link">Inner content</a></li>
						<li><a class="btn btn-link">Inner content</a></li>
						<li><a class="btn btn-link">Inner content</a></li>
					</ul>
			</li>
			<li>
				<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#demo1">Topic Two</a>
					<ul id="demo1" class="collapse list-unstyled">
						<li><a class="btn btn-link">Inner content</a></li>
						<li><a class="btn btn-link">Inner content</a></li>
						<li><a class="btn btn-link">Inner content</a></li>
					</ul>
			</li>
		</ul>
		
	</div>
		<div class="col-md-10 contentblock">
			<div class="row divbg">
				<div class="col-md-12">
					<h3>Question No.</h3>
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3>Whole Question</h3>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-7">
					<input type="radio" name="vehicle" value="Bike">  I have a bike<br>
					<input type="radio" name="vehicle" value="Car">  I have a car 	 
				</div>
				<div class="col-md-5">
						<div>
							<img src="img/e5.jpg">
						</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<button type="button" class="btn btn-primary center-block">Submit</button>
				</div>
				<div class="col-md-2 text-right">
						<div>							
							<a href="#">PREV</a>
						</div>		
				</div>
				<div class="col-md-2">
						<div>							
							<a href="#">NEXT</a>
						</div>		
				</div>
			</div>
			
			
		</div>
</div>
</div>
</div>
<script>
var myVar=setInterval(function(){myTimer()},1000);

function myTimer() {
    var d = new Date();
    document.getElementById("demo").innerHTML = d.toLocaleTimeString();
}
</script>