<section>
	<div class="row">
		<div class="col-md-12 main-content">
			<div class="row">
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-12">
							<h3>Newspaper Headlines</h3>
						</div>
						
						<div class="col-md-4 col-lg-3 col-sm-4 col-xs-6">
							<div class="gridblock">
								<img src="img/s.jpg"  class="img-responsive">
							</div>
						</div>
						<div class="col-md-4 col-lg-3 col-sm-4 col-xs-6">
							<div class="gridblock">
								<img src="img/m.jpg" class="img-responsive">
							</div>
						</div>					
						<div class="col-md-4 col-lg-3 col-sm-4 col-xs-6">
							<div class="gridblock">
								<img src="img/m.jpg" class="img-responsive">
							</div>
						</div>		
							<!---<div class="col-md-4">
							<div class="gridblock">
							<img src="img/m.jpg" class="img-responsive">
							</div>
							</div>-->
						<div class="col-md-4 col-lg-3 col-sm-4 col-xs-6">
							<div class="gridblock">
								<img src="img/m.jpg" class="img-responsive">
							</div>
						</div>
						<div class="col-md-4 col-lg-3 col-sm-4 col-xs-6">
							<div class="gridblock">
								<img src="img/m.jpg" class="img-responsive">
							</div>
						</div>
						<div class="col-md-4 col-lg-3 col-sm-4 col-xs-6">
							<div class="gridblock">
								<img src="img/m.jpg" class="img-responsive">
							</div>
						</div>
						<div class="col-md-4 col-lg-3 col-sm-4 col-xs-6">
							<div class="gridblock">
								<img src="img/m.jpg" class="img-responsive">
							</div>
						</div>
						<div class="col-md-4 col-lg-3 col-sm-4 col-xs-6">
							<div class="gridblock">
								<img src="img/m.jpg" class="img-responsive">
							</div>
						</div>
						<div class="col-md-4 col-lg-3 col-sm-4 col-xs-6">
							<div class="gridblock">
								<img src="img/m.jpg" class="img-responsive">
							</div>
						</div>
						<div class="col-md-4 col-lg-3 col-sm-4 col-xs-6">
							<div class="gridblock">
								<img src="img/m.jpg" class="img-responsive">
							</div>
						</div>
						<div class="col-md-4 col-lg-3 col-sm-4 col-xs-6">
							<div class="gridblock">
								<img src="img/m.jpg" class="img-responsive">
							</div>
						</div>
						<div class="col-md-4 col-lg-3 col-sm-4 col-xs-6">
							<div class="gridblock">
								<img src="img/m.jpg" class="img-responsive">
							</div>
						</div>	
					</div>				
				</div>			
				<div class="col-md-3">
					<h3>Announcement From E-school</h3>
					<p>The Encyclopedia covers key concepts, people, events, and organizations that played a role in the forced removal and incarceration of Japanese Americans during World War II. The reviewed articles are written by a wide range of contributors, and are enhanced with photos, documents and video drawn from Densho's digital archives and other sources.</p>
					<p>The Encyclopedia covers key concepts, people, events, and organizations that played a role in the forced removal and incarceration of Japanese Americans during World War II. The reviewed articles are written by a wide range of contributors,</p>
				</div>
			</div>
		</div>
	</div>
</section>