<section>
	<div class="row">
		<div class="col-md-2 asideb">
			<div>
				<input type="text" ng-model="search.title" class="form-control glyphicon glyphicon-search-right" placeholder="Search">
			</div>
			<h3>My Project</h3>
			<h4>Index</h4>
			<div class="dropdown">
					<a class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="true">
					IT Projects
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">IT</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Environment</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Social</a></li>
					</ul>
			</div>
			<div class="dropdown">
					<a class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="true">
					Environment Projects
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">IT</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Environment</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Social</a></li>
					</ul>
			</div>
			<div class="dropdown">
					<a class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="true">
					Social Projects
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">IT</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Environment</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Social</a></li>
					</ul>
			</div>
			<div class="dropdown">
					<a class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="true">
					Other Projects
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">IT</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Environment</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Social</a></li>
					</ul>
			</div>
			
		</div>
		<div class="col-md-10">
		<table class="table table-bordered">
									<thead>Project Details</thead>
									<tbody>
										<tr>
											<th>Sr No.</th>
											<th>Project Name</th>
											<th>Status</th>
											<th>Score</th>
											<th>Weightage</th>
											<th>Remark</th>
										</tr>
										
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										<tr>
									</tbody>
  
								</table>
			
		</div>
	</div>
</section>