<div class="row">
	<div class="col-md-12 contain">
		<div class="row">
			<div class="col-md-2">
				<aside>
					<div>
						<input type="text" ng-model="search.title" class="form-control glyphicon glyphicon-search-right" placeholder="Search">
					</div>
					<h5>Index</h5>
					<hr>
					<h5>Chapter1</h5>		
					<div class="btn-group">
						<button type="button" class="btn btn-default">Content</button>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">One</a></li>
							<li><a href="#">Two</a></li>
							<li><a href="#">Three</a></li>
							<!--<li class="divider">Four</li>-->
							<li><a href="#">Four</a></li>
						</ul>
					</div>
					<h5>Chapter2</h5>
					<div class="btn-group">
						<button type="button" class="btn btn-default">Content</button>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">One</a></li>
							<li><a href="#">Two</a></li>
							<li><a href="#">Three</a></li>
							<!--<li class="divider">Four</li>-->
							<li><a href="#">Four</a></li>
						</ul>
					</div>
					<h5>Chapter3</h5>
					<div class="btn-group">
						<button type="button" class="btn btn-default">Content</button>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">One</a></li>
							<li><a href="#">Two</a></li>
							<li><a href="#">Three</a></li>
					<!--<li class="divider">Four</li>-->
					<li><a href="#">Four</a></li>
					</ul>
					</div>
					<h5>Read Topics</h5>
					<ul class="list-unstyled">
						<li><a href="#">Chapter1</a></li>
						<li><a href="#">Chapter2</a></li>
						<li><a href="#">Chapter3</a></li>
						<li><a href="#">Chapter4</a></li>
						<li><a href="#">Chapter5</a></li>
						<li><a href="#">Chapter6</a></li>
						<li><a href="#">Chapter7</a></li>
						<li><a href="#">Chapter8</a></li>
						<li><a href="#">Chapter9</a></li>
						<li><a href="#">Chapter10</a></li>
						<li><a href="#">Chapter11</a></li>
						<li><a href="#">Chapter12</a></li>
						<li><a href="#">Chapter13</a></li>					
					</ul>
				</aside>
			</div>
			<div class="col-md-10">
				<h3>Welcome to E-Library Read View</h3>
				<div class="col-md-12">
					<h3>Short Notes By User</h3>
					<p>The Encyclopedia covers key concepts, people, events, and organizations that played a role in the forced removal and incarceration of Japanese Americans during
					World War II.</p>
				</div>
			</div>
		</div>
	</div>
</div>