<section>
	<div class="row">
	<h4>Months...</h4>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/jan.jpg" class="img-responsive">
		    </div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/feb.jpg" class="img-responsive">
		    </div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/march.png" class="img-responsive">
		    </div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/april.jpg" class="img-responsive">
		    </div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/may.png" class="img-responsive">
		    </div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/june.jpg" class="img-responsive">
		    </div>
		</div>
	</div>
	<div class="row">
	<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/july.jpg" class="img-responsive">
		    </div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/august.png" class="img-responsive">
		    </div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/september.png" class="img-responsive">
		    </div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/octo.png" class="img-responsive">
		    </div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/november.png" class="img-responsive">
		    </div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/december.png" class="img-responsive">
		    </div>
		</div>
	</div>
</section>