<section>
<div class="row main-content">
<div class="col-md-12">
<div class="row">
	<div class="col-md-12 border-bottom">
			<ol class="breadcrumb pull-left">
				<li><a href="#">Dashboard</a></li>
				<li class="active">Virtual Tour</li>
			</ol>
				<div class="pull-right toolbar">
					<button class="btn btn-default" type="button"><span class="glyphicon glyphicon glyphicon-arrow-left iconback"></span></button>
					<a class="btn btn-default">
						<span class="glyphicon glyphicon-th-large dropdown-toggle iconback" data-toggle="dropdown" aria-expanded="false"></span>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">New Tab</a></li>
							<li><a href="#">New Window</a></li>
							<li><a href="#">History</a></li>
							<li><a href="#">Recent Tab</a></li>
							<li><a href="#">Zoom</a></li>
							<li><a href="#">Find</a></li>
							<li><a href="#">Exit</a></li>
						</ul>
					</a>
				</div>
	</div>

<div class="row">	
<div class="col-md-12">
<h3>Maharashtra</h3>
	<div class="row">
		
		<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
			<div class="gridblock">
			<img src="img/m.jpg" class="img-responsive">
		    </div>
		</div>
		<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
			<div class="gridblock">
			<img src="img/s.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
			<div class="gridblock">
			<img src="img/m1.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
			<div class="gridblock">
		<img src="img/m3.jpg"  class="img-responsive">
		</div>
		</div>
		<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
			<div class="gridblock">
		<img src="img/m4.jpg"  class="img-responsive">
		</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12" ng-include="'partials/components/row.html'">
		</div>
	</div>
	
	
	
	
	</div>
</div>
</div>
	</div>
</div>	
</section>