<section>

<h4>Maharashtra</h4>
	<div class="row">
	
	<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
	<div class="gridblock">
	
	<a class="caption caption-2" href="#"  data-description="They were few in number, but the look in their eyes told all who beheld them that they would leave this day only in victory or death." data-title="Visit">
	<img src="img/k.jpg" class="img-responsive" alt="Illustration of Cafe Racer">
	</a>
	</div>
	</div>
		<!--<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="dashboard">
			<img src="img/k.jpg"  class="img-responsive">
			<!--<button class="btn btn-warning center-block"><a hreh="#">Visit</a></button>
			</div>
		</div>-->
		
		
		
		
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/m.jpg" class="img-responsive">
		    </div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/s.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/m1.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
		<img src="img/m3.jpg"  class="img-responsive">
		</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
		<img src="img/m4.jpg"  class="img-responsive">
		</div>
		</div>
		</div>
	</div>
	<h4>India</h4>
	<div class="row">
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/tr.jpg"  class="img-responsive">
			</div>
		
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/tr1.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/tr2.jpg"  class="img-responsive" >
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/tr4.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/tr2.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/tr5.jpg" class="img-responsive">
			</div>
		</div>
	</div>
	<h4>World</h4>
	<div class="row">
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/w.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/w1.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/w3.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/w4.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/tr1.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/tr.jpg" class="img-responsive">
			</div>
		</div>
	</div>
</section>