<section>
<div class="row">
<div class="col-md-12 main-content">


<div class="row">
			<div class="col-md-10">
			<h3>Tour</h3>
			<hr>
			</div>
			
			<div class="col-md-2">
			<div class="btn-group pull-right">
			<span class="glyphicon glyphicon-th-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></span>
			<span class="sr-only"></span>
				<ul class="dropdown-menu" role="menu">Maharashtra
				<li><a href="#">Verul-Ajanta</a></li>
				<li><a href="#">Mumbai</a></li>
				<li><a href="#">Elephanta caves</a></li>
				<li><a href="#">Bibi ka maqbara</a></li>
				<li><a href="#">Sinhagad</a></li>
				<li><a href="#">Kanheri caves</a></li>
				<li><a href="#">Aga Khan Palace</a></li>
				<li><a href="#">Parvati Hills</a></li>
				<li class="divider"></li>
				India
				<li><a href="#">Taj Mahal</a></li>
				<li><a href="#">Kutub Minar</a></li>
				<li><a href="#">Agra Fort</a></li>
				<li><a href="#">India Gate</a></li>
				<li><a href="#">Char Minar</a></li>
				</ul>
			</div>
			</div>
			</div>
			
			
<h4>Maharashtra</h4>
	<div class="row">
	
	<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
	<div class="gridblock">
	
	<a class="caption caption-2" href="#"  data-description="They were few in number, but the look in their eyes told all who beheld them that they would leave this day only in victory or death." data-title="Visit">
	<img src="img/k.jpg" class="img-responsive" alt="Illustration of Cafe Racer">
	</a>
	</div>
	</div>
	
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/m.jpg" class="img-responsive">
		    </div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/s.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/m1.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
		<img src="img/m3.jpg"  class="img-responsive">
		</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
		<img src="img/m4.jpg"  class="img-responsive">
		</div>
		</div>
		</div>
	
	<h4>India</h4>
	<div class="row">
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/tr.jpg"  class="img-responsive">
			</div>
		
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/tr1.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/tr2.jpg"  class="img-responsive" >
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/tr4.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/tr2.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/tr5.jpg" class="img-responsive">
			</div>
		</div>
	</div>
	<h4>World</h4>
	<div class="row">
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/w.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/w1.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/w3.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/w4.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/tr1.jpg"  class="img-responsive">
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-6 col-xs-6">
			<div class="gridblock">
			<img src="img/tr.jpg" class="img-responsive">
			</div>
		</div>
	</div>
	</div>
	</div>
	
</section>