

<div class="row">
	<div class="col-md-12 main-content">
		<div class="row border-bottom">	
			<div class="col-md-6" ng-include="'partials/components/breadcrumb.html'">
			</div>
			<div class="col-md-6" ng-include="'partials/components/menu-back.html'">
			</div>	
		</div>	
		<div class="row ">
			<div class="col-md-12">
				<h3 class="text-center">Sanskar Katha</h3>
				<video width="320" height="240" class="center-block" controls>
				  <source src="movie.mp4" type="video/mp4">
				  <source src="movie.ogg" type="video/ogg">
					Your browser does not support the video tag.
				</video>				
			</div>
		</div>
	</div>
</div>

