<div class="form-group">
		<label class="col-sm-2 control-label">Option 1</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="group_name" id="group_name" ng-model="question.options.option1" required>
		</div>
		<label class="col-sm-2 control-label">Option 2</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="group_name" id="group_name" ng-model="question.options.option2" required>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Option 3</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="group_name" id="group_name" ng-model="question.options.option3" required>
		</div>
		<label class="col-sm-2 control-label">Option 4</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="group_name" id="group_name" ng-model="question.options.option4" required>
		</div>
	</div>