<div class="row">		
	<div class="col-md-12">	
		<div class="main-content">
			<!-- This is Business View Toolbar -->
			<ng-include src="'modules/business/toolbar.html'"></ng-include>
			
			<!-- If view = add business addbusiness.html will load -->
			<ng-include ng-if="businessView=='addbusiness'" src="'modules/business/addbusiness/addbusiness.html'"></ng-include>
			
			<ng-include ng-if="businessView=='businesslist'" src="'modules/business/businesslist.html'"></ng-include>	
			
			<ng-include ng-if="businessView=='products'" src="'modules/business/products.html'"></ng-include>
			
			<ng-include ng-if="businessView=='deletedbusiness'" src="'modules/business/deletedbusiness.html'"></ng-include>
		</div>
	</div>
</div>
	