<ng-include src="'modules/component/toolbar.html'"></ng-include>
<!-- This is Global Breadcrumb Toolbar -->
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="text-right bottomspace">
	<a href="#/dashboard/business/addbusiness" class="btn btn-default">Add Business</a>
	<a href="#/dashboard/business/businesslist" class="btn btn-default" ng-click="addAlert()">Business List</a>
	<a href="#/dashboard/business/products" class="btn btn-default">Manage Products/Services</a>
	<a href="#/dashboard/business/deletedbusiness" class="btn btn-default" ng-click="addAlert()">Deleted Business</a>
</div>