
<div class="modal-content">		
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-12">
				<tabset>
					<tab heading="Business Info" title="Business Information">
						<table class="table table-responsive table-bordered ">
							<tr><th>ID</th><th>BUSINESS NAME</th><th>LOGO</th><th>CATEGORY</th><th>OWNERSHIP</th><th>KEY DESCRIPTION</th><th>DETAILED DESCRIPTION</th></tr>
							<tr>
								<td>{{modalOptions.bizList.id}}</td>
								<td>{{modalOptions.bizList.business_name}}</td><td>
								<!-- <span ng-repeat="(key, value) in modalOptions.bizList.business_logo">
									<img width='50px' ng-src="{{'../server-api/'+value.file_name}}" />
								</span> -->
								<span ng-repeat="(key, value) in modalOptions.bizList.business_logo">
									<img class="imgwidth" ng-src="{{appConfig.assetPath+'/'+value.file_name}}"/>
								</span>
								</td><td>{{modalOptions.bizList.category}}</td>
								<td>{{modalOptions.bizList.ownership}}</td><td ng-bind-html="modalOptions.bizList.business_info.keywords"></td>
								<td ng-bind-html="modalOptions.bizList.business_info.description"></td>
							</tr>
						</table>
					</tab>
					<tab heading="Business Profile" title="Business Profile">
						<table class="table table-responsive table-bordered">
							<tr><th>BUSINESS TYPE</th><th>SMALL BUSINESS CATELOG</th><th>ALTERNATE WEBSITE</th><th>ESTABLISHMENT YEAR</th><th>EMPLOYEES</th><th>ADDITIONAL BUSINESS</th></tr>
							<tr><td>{{modalOptions.bizList.business_profile.business_type}}</td><td>{{modalOptions.bizList.business_profile.biz_catalog}}</td><td>{{modalOptions.bizList.business_profile.website}}</td><td>{{modalOptions.bizList.business_profile.establishment}}</td><td>{{modalOptions.bizList.business_profile.no_of_employees}}</td>
							<td>
								<p ng-repeat="x in modalOptions.bizList.business_profile.additional_business">
								<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>{{x}}</span>
								</p>
							</td></tr>
						</table>
					</tab>
					
					<tab heading="Contact Profile" title="Contact Profile">
						<table class="table table-responsive table-bordered">
							<tr><th>CONTACT PERSON DETAILS</th><th>COMPANY DETAILS</th><th>CONTACT DETAILS</th></tr>
							<tr><td>
								<table class="table table-responsive">
									<tr><th>Name</th><td>{{modalOptions.bizList.contact_profile.contact_person}}</td></tr>
									<tr><th>Photo</th><td>
										<span ng-repeat="(key, value) in modalOptions.bizList.contact_profile.contact_photo">
											<img class="imgwidth" ng-src="{{appConfig.assetPath+'/'+value.file_name}}"/>
										</span>
									</td></tr>								
									<tr><th>Designation</th><td>{{modalOptions.bizList.contact_profile.Designation}}</td></tr>
									<tr><th>Mobile No.</th><td>{{modalOptions.bizList.contact_profile.mobile}}</td></tr>
									<tr><th>Email</th><td>{{modalOptions.bizList.contact_profile.email}}</td></tr>
									<tr><th>Alternate Email</th><td>{{modalOptions.bizList.contact_profile.alternate_email}}</td></tr>
								</table>
							</td><td>
								<table class="table table-responsive">
									<tr><th>CEO</th><td>{{modalOptions.bizList.contact_profile.ceo}}</td></tr>
									<tr><th>Name</th><td>{{modalOptions.bizList.contact_profile.companyname}}</td></tr>
									<tr><th>Address</th><td>{{modalOptions.bizList.contact_profile.address}}</td></tr>
									<tr><th>Country</th><td>{{modalOptions.bizList.contact_profile.Country}}</td></tr>
									<tr><th>State</th><td>{{modalOptions.bizList.contact_profile.State}}</td></tr>
									<tr><th>City</th><td>{{modalOptions.bizList.contact_profile.Designation}}</td></tr>
									<tr><th>ZIP Code</th><td>{{modalOptions.bizList.contact_profile.ZIP_Code}}</td></tr>
								</table>
							</td>
							<td>
								<table class="table table-responsive">									
									<tr><th>Telephone</th><td>{{modalOptions.bizList.contact_profile.telephone}}</td></tr>									
									<tr><th>Fax</th><td>{{modalOptions.bizList.contact_profile.fax}}</td></tr>
									<tr><th>Catalog</th><td>{{modalOptions.bizList.contact_profile.SmallBusinessCatalog}}</td></tr>
									<tr><th>Website</th><td>{{modalOptions.bizList.contact_profile.contact_website}}</td></tr>
								</table>
							</td>
							</tr>	
						</table>
					</tab>
	
					
					
					<tab heading="Infrastructure" title="Infrastructure Facility">
						<table class="table table-responsive table-bordered">
							<tr><th>Infrastucture Heading</th><th>Infrastructure Image</th><th>Infrastucture Description</th></tr>
							<tr ng-repeat="(key, val) in modalOptions.bizList.infrastructure"><td>{{key}}</td><td>
							<span ng-repeat="(key, value) in val.infra_image">
								<img class="imgwidth" ng-src="{{appConfig.assetPath+'/'+value.file_name}}"/>
							</span></td>
							<td ng-bind-html="val.description"></td></tr>
						</table>
					</tab>
		
					<tab heading="Testimonials" title="Testimonials">
						<table class="table table-responsive table-bordered">
							<tr><th>TESTIMONIAL GIVEN BY</th><th>TESTIMONIAL DETAILS</th></tr>
							<tr ng-repeat="(key, val) in modalOptions.bizList.testimonials">
								<td><table class="table table-responsive">
										<tr><th>Name</th><td>{{key}}</td></tr>
										<tr><th>Date</th><td>{{val.date}}</td></tr>		
										<tr><th>Email</th><td>{{val.email}}</td></tr>
										<tr><th>Country</th><td>{{val.Sender_Country}}</td></tr>
										<tr><th>State</th><td>{{val.Sender_State}}</td></tr>
										<tr><th>City</th><td>{{val.Sender_City}}</td></tr>
										<tr><th>Phone</th><td>{{val.phone}}</td></tr>
								</table></td>
								<td><table class="table table-responsive">
										<tr><th>Title</th><td>{{val.testimonial_title}}</td></tr>
										<tr><th>Description</th><td ng-bind-html="val.test_Description"></td></tr>
										<tr><th>Imgae</th><td>
										<span ng-repeat="(key, value) in val.testimage">
											<img class="imgwidth" ng-src="{{appConfig.assetPath+'/'+value.file_name}}"/>
										</span>
										</td></tr>				
								</table></td>	
							</tr>
						</table>
					</tab>
					<tab heading="Job & Careers" title="Job & Careers">
						<table class="table table-responsive table-bordered">
							<tr><th>JOB TITLE</th><th>JOB DESCRIPTION</th></tr>
							<tr ng-repeat="(key, val) in modalOptions.bizList.job_careers"><td>{{key}}</td><td ng-bind-html="val.jobDescription"></td></tr>
						</table>
					</tab>
					
					<tab heading="NewsCoverage" title="News Coverage">
						<table class="table table-responsive table-bordered">
							<tr><th>MEDIA DETAILS</th><th>NEWS COVERAGE DETAILS</th></tr>
							<tr ng-repeat="(key, val) in modalOptions.bizList.news_coverage">
								<td><table class="table table-responsive">
										<tr><th>Media Name</th><td>{{key}}</td></tr>
										<tr><th>Media Type</th><td>{{val.mediaType}}</td></tr>
								</table></td>
								<td><table class="table table-responsive">
										<tr><th>Headline</th><td>{{val.headline}}</td></tr>
										<tr><th>Date</th><td>{{val.newsdate}}</td></tr>
										<tr><th>URL</th><td>{{val.News}}</td></tr>
										<tr><th>Image</th><td>
										<span ng-repeat="(key, value) in val.news_image">
											<img class="imgwidth" ng-src="{{appConfig.assetPath+'/'+value.file_name}}"/>
										</span></td></tr>
										<tr><th>Details</th><td ng-bind-html="val.newsdetails"></td></tr>												
								</table></td>	
							</tr>
						</table>
					</tab>
				</tabset>											
			</div>
		</div>
	</div>
	<div class="modal-footer">
				<button class="btn btn-primary" ng-click="modalOptions.ok()" title="OK">OK</button>
	</div>
</div>		