<div class="row">
	<div class="col-sm-12">	
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">	{{alert.msg}}
		</alert>
		<h3 class="col-sm-offset-2 col-sm-9"> Add New User</h3>
		<form class="form-horizontal" name="adduserForm" role="form" ng-submit="adduserForm.$valid" novalidate>	
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-9">
					<input type="hidden" ng-model="adduser.adduser_date">
					<input type="hidden" ng-model="adduser.status" ng-init="adduser.status = 1" value="{{adduser.status}}">
					<input type="text" id="name" class="form-control" name="name" placeholder="Name" ng-model="adduser.name" required>
					<span class="help-block" ng-show="adduserForm.name.$dirty && adduserForm.name.$invalid">
						<span class="text-danger" ng-show="adduserForm.name.$error.required">Name is required.</span>
					</span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="username" class="col-sm-2 control-label">UserName*</label>
				<div class="col-sm-9">
					<div class="input-group">
						<input type="text" id="username" class="form-control" name="username" ng-model="adduser.username" placeholder="Your Username" minlength="6" maxlength="12" ng-required="true" ng-disabled="editUserId" >
						<div class="input-group-btn">
							<button type="submit" ng-disabled="editUserId" ng-click="checkuserAvailable('username', adduser.username)" class="btn btn-success">Check Availability</button>
						</div>
					</div>
					<span class="help-block">	
						<span class="text-success" ng-show="adduserForm.username.$dirty && adduserForm.username.$valid && UserAvailable">Username available</span>
					</span>
					<span  class="help-block" ng-show="adduserForm.username.$dirty && adduserForm.username.$invalid || UserAvailable==false">
						<span class="text-danger" ng-show="adduserForm.username.$dirty && UserAvailable==false">Please Select Another username. Username already exist.</span>
						<span class="text-danger" ng-show="adduserForm.username.$error.required && (adduserForm.username.$dirty || submitted)">username is required.</span>
						<span class="text-danger" ng-show="adduserForm.username.$error.minlength && (adduserForm.username.$dirty || submitted)">username is too short.</span>
					</span>
				</div>
			</div>
			
			<div class="form-group">	
				<label  for="email" class="col-sm-2 control-label">Email</label>
				<div class="col-sm-9">
					<input type="Email" class="form-control" id="email" ng-model="adduser.email" name="email" placeholder="Enter Email" ng-blur="checkuserAvailable('email', adduser.email)" required >
					<span class="help-block">
						<span class="text-success" ng-show="adduserForm.email.$dirty && adduserForm.email.$valid && EmailAvailable">{{availabilityMsg}}</span>
					</span>
					<span class="help-block" ng-show="adduserForm.email.$dirty && adduserForm.email.$invalid || EmailAvailable == false">
						<span class="text-danger" ng-show="adduserForm.email.$dirty && EmailAvailable == false">{{availabilityMsg}}</span>
						<span class="text-danger" ng-show="adduserForm.email.$error.required">Email is required.</span>
						<span class="text-danger" ng-show="adduserForm.email.$error.email">Invalid Email address.</span>
					</span>
				</div>
			</div>
			
			<div class="form-group">
				<label  for="dob" class="col-sm-2 control-label">Birth Date</label>
				<div class="col-sm-9">
					<p class="input-group">
						<input type="text" id="dob" name="dob" class="form-control" datepicker-popup="{{format}}" ng-model="adduser.dob" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
			</div>
			
			<div class="form-group">
				<label for="Address" class="col-sm-2 control-label">Address</label>
				<div class="col-sm-9">
					<textarea  class="form-control" id="Address" ng-model="editprofile.address.address" name="Address" placeholder="Enter Address" ng-maxlength="75" required>
					</textarea>
					 <p ng-hide="editProfileForm.Address.$error.maxlength">{{ 75 - Address.length + " Characters left"}}</p>
					<span class="help-block" ng-show="editProfileForm.Address.$dirty &&  editProfileForm.Address.$invalid">
						<span class="text-danger" ng-show="editProfileForm.Address.$error.maxlength">Sorry You are Exceeding the Limit</span>
						<span class="text-danger" ng-show="editProfileForm.Address.$error.required">Address is required.</span>
					</span>	
				</div>
			</div>
			
			<div class="form-group">
				<label for="Address" class="col-sm-2 control-label">Address</label>
				<div class="col-sm-2">
					<select class="form-control" name="Country" id="Country"  ng-model="adduser.country" ng-change="getState(adduser.country)" ng-options="item.country_name as item.country_name for item in contries" required>		
						<option value="">Select Country</option>
					</select>
					<span class="help-block" ng-show="adduserForm.Country.$dirty && adduserForm.Country.$invalid">
						<span class="text-danger" ng-show="adduserForm.Country.$error.required">Country is required.</span>
					</span>				
				</div>
				<div class="col-sm-2">
					<select class="form-control" name="state" id="state" ng-model="adduser.state" ng-change="getCities(adduser.state)" ng-options="item.state_name as item.state_name for item in states" required>		
						<option value="">Select State</option>
					</select>
					<span class="help-block" ng-show="adduserForm.state.$dirty && adduserForm.state.$invalid">
						<span class="text-danger" ng-show="adduserForm.state.$error.required">State is required.</span>
					</span>				
				</div>
				<div class="col-sm-2">
					<select class="form-control" name="address" id="address" ng-model="adduser.address.city" ng-options="item.city_name as item.city_name for item in cities" required>		
						<option value="">Select City</option>
					</select>
					<span class="help-block" ng-show="adduserForm.address.$dirty && adduserForm.address.$invalid">
						<span class="text-danger" ng-show="adduserForm.address.$error.required">State is required.</span>
					</span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="phone" class="col-sm-2 control-label">Phone</label>
				<div class="col-sm-9">
					<input type="text" id="phone" name="phone" class="form-control" ng-model="adduser.phone" placeholder="Your Contact No" ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
					<span class="help-block" ng-show="adduserForm.phone.$dirty && adduserForm.phone.$invalid">
						<span class="text-danger" ng-show="adduserForm.phone.$error.pattern && (adduserForm.phone.$dirty || submitted)">Enter a valid Contact Number</span>
					</span>
				</div>						
			</div>	
			
			<div class="form-group">
				<label for="group_id" class="col-sm-2 control-label">Group Name</label>
				<div class="col-sm-9">
					<select class="form-control" name="group_id" id="group_id" ng-model="adduser.group_id" required>
						<option value="">Select User Group</option>
						<option value="{{group.id}}" ng-disabled="disableGroup(group.group_name)" ng-repeat="group in groups">{{group.group_name}}</option>
					</select>
					<span class="help-block" ng-show="adduserForm.group_id.$dirty && adduserForm.group_id.$invalid">
						<span class="text-danger" ng-show="adduserForm.group_id.$error.required">User Name Group is required.</span>
					</span>				
				</div>
			</div>		
						
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-9">
				  <button type="submit" class="btn btn-success" ng-disabled="adduserForm.$invalid || EmailAvailable==false || UserAvailable==false" ng-click="postData(adduser)" ng-if="!editUserId">Add User</button>
				  <button type="submit" class="btn btn-success" ng-disabled="adduserForm.$invalid" ng-click="update(adduser)" ng-if="editUserId">Update User</button>
				  <button type="reset" class="btn btn-danger">Reset</button>
				</div>
			</div>						
		</form>			
	</div>
</div>

<!--ng-model="adduser.state.city" required-->