<div class="main-content">
	<ng-include src="'modules/component/toolbar.html'"></ng-include>
		<div class="row">
			<div class="col-md-12">
				<ng-include src="'modules/users/manageuser/usertoolbar.html'"></ng-include>
			</div>
			<div class="col-md-12">	
				<ng-include ng-if="userViews=='userslist'" src="'modules/users/manageuser/userslist.html'"></ng-include>
				<ng-include ng-if="userViews=='usersgroup'" src="'modules/users/manageuser/usersgroup.html'"></ng-include>
				<ng-include ng-if="userViews=='adduser'" src="'modules/users/manageuser/adduser.html'"></ng-include>
				<ng-include ng-if="userViews=='createusergroup'" src="'modules/users/manageuser/createusergroup.html'"></ng-include>
			</div>
		</div>
</div>
