<div class="row">
	<div class="col-sm-12">
		<div class="main-content">	
			<form class="form-horizontal" role="form" name="composemailviewForm" novalidate="novalidate">
			<h3> Compose Mail</h3>
				<div class="form-group">
					<label for="from" class="col-sm-2 control-label">From</label>
					<div class="col-sm-9">
						<input type="text" value="{{composemail.from_email}}" class="form-control"  readonly ng-model="composemail.from_email.from">
						<input type="hidden" class="form-control" ng-model="composemail.from_email.cc">
					</div>
				</div>
				<div class="form-group">
					<label for="to_email" class="col-sm-2 control-label">To</label>
					<div class="col-sm-9">
						<input type="hidden" ng-model="composemail.date">
						<input type="hidden" ng-model="composemail.user_id">
						<input type="Email" class="form-control" id="to_email" ng-model="composemail.to_email.to" name="to_email" placeholder="Enter Email" required>
						<span class="help-block" ng-show="composemailviewForm.to_email.$dirty && composemailviewForm.to_email.$invalid">
							<span class="text-danger" ng-show="composemailviewForm.to_email.$error.required">Email is required.</span>
							<span class="text-danger" ng-show="composemailviewForm.to_email.$error.email">Invalid Email address.</span>
						</span>
					</div>
					
				</div>
				<div class="form-group">
					<label for="cc" class="col-sm-2 control-label">Cc</label>
					<div class="col-sm-9">
						<input type="Email" class="form-control" id="cc" name="cc" ng-model="composemail.to_email.cc" placeholder="Enter Email">
						<span class="help-block" ng-show="composemailviewForm.cc.$dirty && composemailviewForm.cc.$invalid">
							<span class="text-danger" ng-show="composemailviewForm.cc.$error.email">Invalid Email address.</span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="subject" class="col-sm-2 control-label">Subject</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" ng-model="composemail.subject" required>
						<span class="help-block" ng-show="composemailviewForm.subject.$dirty && composemailviewForm.subject.$invalid">
							<span class="text-danger" ng-show="composemailviewForm.subject.$error.required">Please Enter subject.</span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="subject" class="col-sm-2 control-label">Message</label>
					<div class="col-sm-9">
						<textarea id="message" name="message" class="form-control" rows="3" ng-model="composemail.message" ng-minlength="2" ng-maxlength="356" ui-tinymce required>
						</textarea>
					</div>
				</div>
				<div class="form-group" ng-hide="composemailviewForm">
					<!-- <label for="propImages" class="col-sm-2" >Select File </label>-->
					<div class="col-sm-offset-2 col-sm-9">
						<input type="file" id="attach_files" name="attach_files" ng-file-select ng-multiple="true" accept="image/jpeg, image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="attach_files">
						<file-preview url="attach_files"></file-preview>
						<button ng-show="attach_files" ng-click="upload(attach_files,path,userinfo)" type="button">Upload</button>
						
						<input type="hidden" ng-model="composemail.Attachment">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-9">
						<input type="hidden" name="status" ng-model="composemail.status" ng-init="composemail.status = 2" value="{{composemail.status}}">
					</div>
				</div>
				<div class="from-group">
					<input type="hidden" name="reply_date" ng-model="composemail.date" value="composemail.date =  today.date()" value="{{composemail.date}}">
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-9">
						<button type="button" class="btn btn-primary" ng-click="postData(composemail)" ng-disabled="composemailviewForm.$dirty && composemailviewForm.$invalid">Send</button>
						<button type="reset" class="btn btn-danger" title="Cancel Sending">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>