<div class="table-responsive">
	<table class="table table-bordered">
		<thead> 
			<th></th>
			<th>Sr.No.</th>
			<th>Subject</th>
			<th>From</th>
			<th>Date</th>
			<th>Reply Status</th>
		</thead>
		<tbody>
			<tr ng-repeat="mail in mailList | filter: { status : hideDeleted}">
				<td>
					<button class="btn btn-default" tooltip="delete" ng-click="deletemail(mail.id,mail.status, $index)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
				<td>{{((mailListCurrentPage - 1) * pageItems ) + $index + 1}}</td>	
				<td>
					<span ng-if="(mail.read_status==1)" ng-model="mail.read_status" >
						<a href="#/dashboard/enquiry/mailview/{{mail.id}}" ng-if="mail.read_status==1">{{mail.subject}}
						</a>
					</span>
					<span  ng-if="(mail.read_status==0)" ng-model="mail.read_status" ng-click="changestatus(mail.id,mail.read_status, $index)">
						<a href="#/dashboard/enquiry/mailview/{{mail.id}}" ng-if="mail.read_status==0"><b>{{mail.subject}}</b></a>
					</span>
				</td>
				<td>{{mail.from_email.from}}</td>
				<td>{{mail.date}}</td>
				<td>
					<span  ng-if="(mail.reply_status==1)" ng-model="mail.reply_status" >
						<p> Replied</p>
					</span>
					<span  ng-if="(mail.reply_status==0)" ng-model="mail.reply_status" >
						<p> Not Replied </p>
					</span>
				</td>
			</tr>
		</tbody>					
	</table>
</div>
<div class="text-center">				
	<pagination total-items="totalRecords" items-per-page="pageItems" ng-model="mailListCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged(mailListCurrentPage, statusParam)"></pagination>			
	<pre>Page: {{mailListCurrentPage}} / {{numPages}}</pre>
</div>