<div class="main-content">
	<div class="row">
		<div class="col-md-12">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">	
				{{alert.msg}}
			</alert>
			<form class="form-horizontal " role="form" name="forgotpassForm" ng-submit="forgotpassForm.$valid" novalidate>
				<h3>Forgot Password</h3>
				<hr>
				<p class="text-center">If you have forgot the account password, you can reset password and a new password will be sent to your email address..</p>
				<div class="form-group">
						<label for="email" class="col-sm-3 control-label">Email</label>
						<div class="col-sm-6">
                            <input type="Email" class="form-control" id="email" name="email" ng-model="forgot.email" placeholder="Enter Email" required>
								<span class="help-block" ng-show="forgotpassForm.email.$dirty && 	forgotpassForm.email.$invalid">
									<span ng-show="forgotpassForm.email.$error.required" class="text-danger">Email is required.</span>
									<span ng-show="forgotpassForm.email.$error.email" class="text-danger">Invalid Email address.</span>
								</span>
                        </div>			
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-1">
						<button type="submit" class="btn btn-success" name="btn1"ng-click="forgotpass(forgot)" ng-disabled="forgotpassForm.$invalid">Reset</button>
					</div>
				</div>		
			</form>
		</div>
	</div>	
</div>
<!-- ng-click="forgotpass(forgot)" -->