<div class="row">
	<div class="col-sm-12">	
		<div class="main-content">
			<form autocomplete="off" novalidate class="form-horizontal text-center form-content" name="loginForm" ng-submit="loginForm.$valid">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
				<h3>Login</h3>
				<div class="form-group">
					<div class="col-sm-12">
						<a href="#"><span class="glyphicon glyphicon-user dropimage1 borderimg"></span></a>
					</div>	
				</div>											
				<div class="form-group">
					<div class="col-sm-12">
						<input type="text" autocomplete="off" class="form-control" id="username" placeholder="User Name" name="username" ng-model="login.username" required>
							<span class="help-block" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">
								<span class="text-danger" ng-show="loginForm.username.$error.required">Email is required.</span>
								<span class="text-danger" ng-show="loginForm.username.$error.email">Invalid Email address.</span>
							</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<input type="password" class="form-control" id="inputPassword3" name="pass" ng-model="login.password" placeholder="Password" required>
							<span class="help-block" ng-show="loginForm.pass.$dirty && loginForm.pass.$invalid">
								<span class="text-danger" ng-show="loginForm.pass.$error.required">Password is required.</span>
							</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<div class="checkbox">
							<label>
								<input ng-model="login.remember" type="checkbox">Remember me
							</label>
						</div> 
							<a href="#/forgotpass">Forgot Password</a>|
							<a name="btn1" href="#/register">Register</a>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary" name="btn1" ng-model="login.btn1" ng-click="insert(login)"
						>Login</submit>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
