<div class="row">
	<div class="col-sm-12">
		<div class="main-content">
			<ng-include src="'modules/tests/toolbar.html'"></ng-include>
			
			<ng-include ng-if="!testViews" src="'modules/tests/testslanding.html'"></ng-include>
			
			<ng-include ng-if="testViews=='questions'" src="'modules/tests/questions/questions.html'"></ng-include>
			<ng-include ng-if="testViews=='questiongroups'" src="'modules/tests/questions/questiongroups.html'"></ng-include>
			
			<ng-include ng-if="testViews=='testgroups'" src="'modules/tests/tests/testgroups.html'"></ng-include>
			
			<ng-include ng-if="testViews=='tests'" src="'modules/tests/tests/tests.html'"></ng-include>
			
			<ng-include ng-if="testViews=='createtest'" src="'modules/tests/tests/createtest.html'"></ng-include>
			
			<ng-include ng-if="testViews=='testview'" src="'modules/tests/tests/testview.html'"></ng-include>
		</div>
	</div>
</div>