<h3>Custom Templates</h3>
	<div class="row">
		<div class="col-sm-3"> 
			<div class="bottomspace">
				<label for="search" class="control-label">Search </label>		
				<input id="search" type="text" class="form-control" ng-change="searchFilter('template_name', searchProp)" ng-model="searchProp" placeholder="search"/>
			</div>
		</div>			 				  
		<div class="col-sm-3">
			<div class="bottomspace">
				<label for="sort" class="control-label">Sort by Order</label>
					<select id="sort" class="form-control" ng-model="id"> 
						<option value="">Select Order</option>		<!-- added value & selected attr -->	
						<option value="-id">Desending</option>
						<option value="id">Asending</option>  
					</select>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="bottomspace">
				<label for="status" class="control-label">Development Status</label>{{status}}
					<select id="status" class="form-control" ng-model="status"
					ng-change="changeStatus('development_status',status)" ng-init="showStatus='rejected'">
						<option value="" selected>Select Status</option> <!-- add value attribute empty & selected for initial selected option -->
						<option value="inprogress">In Progress</option>
						<option value="order_placed">Order Placed</option>  
						<option value="completed">Completed</option> 
						<option value="rejected">Rejected</option> 
					</select>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="bottomspace">
				<label for="status" class="control-label">Select Status</label>{{featured}}
					<select id="status" class="form-control" ng-change="changeStatus('status',featured)" ng-model="featured" ng-init="showStatus=1">
						<option value="" selected>Select status</option> <!-- added value & selected attr -->
						<option value="1" >Active</option>
						<option value="0">Deleted</option> 
					</select>
			</div>
		</div>
	</div>
	<div class="table-responsive">	
		<table class="table table-bordered">
			<thead>
				<th>Sr.No.</th>
				<th>Template Name</th>
				<th>Template Type</th> 
				<th>Development Status</th>
				<th>Create Date</th>
				<th>Modified Date</th>
				<th>Manage</th>
			</thead>
					<tbody>
						<tr ng-repeat="x in templates">
							<td>{{((customTempCurrentPage - 1) * pageItems) + $index + 1 }}</td>
							<td>{{x.template_name}}</td>
							<td>{{x.template_type}}</td> 
							<td>
							<button type="button" ng-show="x.development_status=='rejected'"tooltip="{{dynamicTooltip(x.development_status, 'rejected', 'order_placed')}}" ng-class="(x.development_status==rejected) ? 'btn btn-danger' : 'btn btn-success'" ng-model="x.development_status" ng-change="reject(x.id, x.development_status)" btn-checkbox btn-checkbox-true="'rejected'" btn-checkbox-false="'order_placed'"><span class="glyphicon glyphicon-refresh">Resend Request</span></button>
							<span ng-show="x.development_status!='rejected'">{{x.development_status}}</span>
							</td>
							<td>{{x.date | date:'MM/dd/yyyy'}}</td>
							<td>{{x.modified_date}}</td>
							<td>
							<a class="btn btn-success" ng-show="x.status==1" title="Active">Active</a>
							<a class="btn btn-warning" ng-show="x.status==0" title="Delete">Delete</a>
							<div class="btn-group">
									<a ng-click="open('modules/templates/viewTemplate.html', x.id)" class="btn btn-primary responsive"> Prieview</a>
							</div>
							</td>
						</tr>		
					</tbody>					
		</table>
	</div>
	<div class="text-center">				
		<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="customTempCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged(customTempCurrentPage,template_type)"></pagination>
		<pre>Page: {{customTempCurrentPage}} / {{numPages}}</pre>
	</div>		

