<h3 class="col-sm-offset-2 col-sm-9">Request For Custom Template</h3>
	<form name="requestcustomtempForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="requestcustomtempForm.$valid">
		<div class="form-group">
			<label for="template_name" class="col-sm-2 control-label">Template Name</label>		
			<div class="col-sm-9">
				<input type="text" id="template_name" class="form-control" name="template_name" placeholder="Name" ng-model="reqtemp.template_name" required >
				<span class="help-block" ng-show="requestcustomtempForm.template_name.$dirty && requestcustomtempForm.template_name.$invalid">
					<span class="text-danger" ng-show="requestcustomtempForm.template_name.$error.required">Template Name is required.</span>
				</span>
			</div>	
			<div>
				<input type="hidden" ng-model="reqtemp.date">
			</div>	
			<div>
				<input type="hidden" ng-model="reqtemp.user_id">
			</div>	
			
		</div>
		<div class="form-group">	
		<label  for="date" class="col-sm-2 control-label">Date</label>
		<div class="col-sm-9">
				  <input type="date" id="date" class="form-control" name="dateInput" ng-model="reqtemp.custome_requirement.date" required  placeholder="date" ng-model="date">(yyyy/mm/dd)
		</div>						
		</div>
		<div class="form-group">	
			<label  for="domain" class="col-sm-2 control-label">Domain Name</label>
				<div class="col-sm-9">
					<input type="text" id="domain" class="form-control" name="domain" placeholder="Domain Name" ng-model="reqtemp.custome_requirement.domain" required >
					<span class="text-danger" ng-show="reqCustTemplate.domain.$dirty && reqCustTemplate.domain.$invalid">
					<span ng-show="reqCustTemplate.domain.$error.required">Domain Name is required.</span>
					</span>
				</div>						
		</div>	
		<div class="form-group">
			<label for="contact" class="col-md-2 control-label">Contact Number </label>
			<div class="col-md-9">
				<input type="text" id="contact" name="contact" class="form-control" ng-model="reqtemp.custome_requirement.contact" placeholder="Your Contact No" ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
					<span class="help-block" ng-show="requestcustomtempForm.contact.$dirty && requestcustomtempForm.contact.$invalid">
						<span ng-show="requestcustomtempForm.contact.$error.pattern && (requestcustomtempForm.contact.$dirty || submitted)" class="text-danger">Enter a valid Contact Number .</span>
					</span>
			</div>						
		</div>
		<div class="form-group">
			<label for="requirement" class="col-sm-2 control-label">Custom Requirement</label>	
			<div class="col-sm-9">
				<textarea type="text" class="form-control" id="custome_requirement" name="custome_requirement" ng-model="reqtemp.custome_requirement.requirement" cols="30" rows="4" ng-maxlength="256" placeholder="Enter Product Description" ui-tinymce required></textarea>
				<p ng-hide="requestcustomtempForm.custome_requirement.$error.maxlength">{{ 256 - custome_requirement.length + " Chars left" }}
				</p>
				<span class="help-block" ng-show="requestcustomtempForm.custome_requirement.$error.maxlength">Sorry You are Exceeding the Limit</span>
					<span class="text-danger" ng-show="requestcustomtempForm.custome_requirement.$dirty && requestcustomtempForm.custome_requirement.$invalid">
					<span class="text-danger" ng-show="requestcustomtempForm.custome_requirement.$error.required">Product Description is required.</span>
					</span>
			</div>  
		</div>	
		<div class="form-group">
			<label for="tempImages" class="col-sm-2 control-label">Scrible</label>
			<div class="col-sm-9">
				<input type="file" id="tempImages" ng-file-select ng-multiple="true" accept="image/jpeg,image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="tempImages">
				<!-- This will show thumbnails & progress of images -->
						<file-preview url="tempImages"></file-preview>
						<!-- This button will show if file/s selected -->
						<button ng-show="tempImages" ng-click="upload(tempImages,path,userDetails,reqtemp.scrible)" type="button">Upload</button>
						<!-- This hidden input will store image path in array after successful uploading -->
						<input type="hidden" ng-model="reqtemp.scrible">
			</div>
		</div>	
<div>
	<input type="hidden" ng-model="reqtemp.user_id">
</div>		
		<div class="form-group">
			<label for="custom" class="col-sm-2 control-label">Make it</label>
			<div class="col-sm-9">
				<label class="radio-inline">
					<input type="radio" name="radio" id="Public" value="Public" ng-model="reqtemp.template_type" checked >Public
				</label>
				<label class="radio-inline">
					<input type="radio" name="radio" id="Private" value="Private" ng-model="reqtemp.template_type">Private
				</label>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-9">
				<button type="submit" class="btn btn-success" ng-disabled="requestcustomtempForm.$dirty && requestcustomtempForm.$invalid" ng-click="postData(reqtemp)">Send Request</button>
				<button type="reset" class="btn btn-danger">Reset</button>
			</div>
		</div>					
	</form>
			