<div class="row">		
	<div class="col-sm-12">	
		<div class="main-content"> 
		<div>
			<ng-include src="'modules/component/toolbar.html'"></ng-include>  
		</div>
		<div class="bottomspace">
			<h3 class="text-center">Website Setting</h3>
				<form name="websettingsForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="websettingsForm.$valid">
					<div class="bottomspace">
							<div class="form-group">	
								<label  for="selectbusiness" class="col-sm-2 control-label">Select Business</label>
								<div class="col-sm-3">
									<select id="selectBusiness" class="form-control" ng-model="config.business_id" ng-options="item.id as item.business_name for item in businessList">
										<option value="">Select Business</option>
									</select>
								</div>
								<label  for="selectbusiness" class="col-sm-2 control-label">Select Template</label>
								<div class="col-sm-3">
									<select id="selectTemplate" class="form-control" ng-model="config.template_id" ng-options="item.id as item.template_name for item in templateList"> 
										<option value="">Select Template</option>
									</select>
								</div>
							</div>
						<div class="form-group">
							<div class="col-md-9 col-md-offset-2"><strong>Contact Details</strong></div>
						</div>
						<div class="form-group">
							<label for="contact_name" class="col-sm-2 control-label">Contact Name</label>		
								<div class="col-sm-9">
									<input type="text" id="contact_name" class="form-control" name="contact_name" placeholder="Name" ng-model="config.contact_details.contact_name" required >
										<span class="help-block" ng-show="websettingsForm.contact_name.$dirty && websettingsForm.contact_name.$invalid">
										<span class="text-danger" ng-show="websettingsForm.contact_name.$error.required">Contact Name Required.</span>
										</span>
								</div>
						</div>
						<div class="form-group">
							<label for="contact" class="col-sm-2 control-label">Contact Number </label>
							<div class="col-md-9">
								<input type="text" id="contact" name="contact" class="form-control" ng-model="config.contact_details.contact" placeholder="Your Contact No" ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
									<span class="help-block" ng-show="websettingsForm.contact.$dirty && websettingsForm.contact.$invalid">
									<span ng-show="websettingsForm.contact.$error.pattern && (websettingsForm.contact.$dirty || submitted)" class="text-danger">Enter a valid Contact Number .</span>
									</span>
							</div>						
						</div>
						<div class="form-group">	
							<label  for="contact_email" class="col-sm-2 control-label">Contact Email</label>	
							<div class="col-sm-9">
								<input type="Email" class="form-control" id="contact_email" ng-model="config.contact_details.contact_email" name="contact_email" placeholder="Enter Email" required >
									<span class="help-block" ng-show="websettingsForm.contact_email.$dirty && websettingsForm.contact_email.$invalid">
									<span ng-show="websettingsForm.contact_email.$error.required" class="text-danger"> Email is required.</span>
									<span ng-show="websettingsForm.contact_email.$error.email" class="text-danger">Invalid Email address.</span>
									</span>
							</div>					
						</div>
						
						<div class="form-group">	
							<div class="col-md-9 col-md-offset-2"><strong>Google Map</strong></div>
						</div>
						<div class="form-group">	
							<label  for="Latitude" class="col-sm-2 control-label">Latitude</label>
								<div class="col-sm-9">
									<input type="text" id="Latitude" class="form-control" name="google_map" placeholder="Google Latitude" ng-model="config.google_map.latitude" required>
										<span class="text-danger" ng-show="websettingsForm.Latitude.$dirty && websettingsForm.Latitude.$invalid">
										<span ng-show="websettingsForm.Latitude.$error.required">Domain Name is required.</span>
										</span>
								</div>						
						</div>	
					<div class="form-group">	
					<input type="hidden" ng-model="config.website_id"/>
						<label  for="Longitude" class="col-sm-2 control-label">Longitude</label>
							<div class="col-sm-9">
								<input type="text" id="Longitude" class="form-control" name="Longitude" placeholder="Google Latitude" ng-model="config.google_map.longitude" required >
									<span class="text-danger" ng-show="websettingsForm.Longitude.$dirty && websettingsForm.Longitude.$invalid">
									<span ng-show="websettingsForm.Longitude.$error.required">Domain Name is required.</span>
									</span>
							</div>						
					</div>	
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-9">
							<button type="submit" class="btn btn-primary" ng-disabled="websettingsForm.$dirty && websettingsForm.$invalid" ng-click="editWebsitedetails(config)">Send Request</button>
							<button type="reset" class="btn btn-danger">Reset</button>
						</div>
					</div>		
					</div>
				</form> 	
		</div>
	</div> 
</div>	
	
	