<div class="row" ng-if="selectBusiness">
	<div class="col-sm-12">
	<div class="bottomspace">
		<div class="product">
			<h3 class="col-sm-offset-2 col-sm-9">Add New Products</h3>
			<form class="form-horizontal" role="form" name="addproductForm" ng-submit="addproductForm.$valid" novalidate="novalidate">
				<div class="form-group">
					<label for="product_service_name" class="col-sm-2 control-label">Product Name </label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="product_service_name" name="product_service_name" ng-model="addproduct.product_service_name" placeholder="Enter Product Name here" required>
						<span class="help-block" ng-show="addproductForm.product_service_name.$dirty && addproductForm.product_service_name.$invalid">
							<span ng-show="addproductForm.product_service_name.$error.required" class="text-danger">Product name is required</span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="productLogo" class="col-sm-2 control-label">Select Image </label>
					<div class="col-sm-9">
					
					<input type="file" id="productImages" ng-file-select ng-multiple="true" accept="image/jpeg,image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="productImages">
					<!-- This will show thumbnails & progress of images -->
					<file-preview url="productImages"></file-preview>
					<!-- This button will show if file/s selected -->
					<button ng-show="productImages" ng-click="upload(productImages,path,userinfo,addproduct.product_image)" type="button">Upload</button>
					<!-- This hidden input will store image path in array after successful uploading -->
					<input type="hidden" ng-model="addproduct.product_image">{{addproduct.product_image | json}}
					</div>
				</div>
				<div>
					<input type="hidden" ng-model="addproduct.user_id" value="{{addproduct.user_id}}">
				</div>	
				<div>
					<input type="hidden" ng-model="addproduct.business_id">
				</div>		
				<div>
					<input type="hidden" ng-model="addproduct.business_name">
				</div>
				<div>
					<input type="hidden" ng-model="addproduct.date">
				</div>						
				<div class="form-group">
					<label class="col-sm-2 control-label" for="description">Product Description 
					</label>
					<div  class="col-sm-9">
						<textarea type="text" class="form-control" id="description" name="description" ng-model="addproduct.description" cols="30" rows="4" placeholder="Enter Product Description" ui-tinymce="tinyConfig" required>
						</textarea>
							<p ng-hide="addproductForm.description.$error.maxlength">
								{{ 256 - addproduct.description.length + " Chars left" }}
							</p>
							<span class="help-block" ng-show="addproductForm.description.$dirty && addproductForm.description.$invalid">
								<span class="text-danger" ng-show="addproductForm.description.$error.maxlength">Sorry You are Exceeding the Limit</span>
								<span ng-show="addproductForm.description.$error.required" class="text-danger">Product Description is required.</span>
							</span>
					</div>
					<input type="hidden" ng-model="addproduct.type" ng-init="addproduct.type='product'">
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-9">
						<button type="submit" class="btn btn-default btn-success" ng-disabled="addproductForm.$invalid" ng-click="postData(addproduct)" title="submit">
						Add Product</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>
	</div>
</div>