<div class="row">
	<div class="col-sm-12">
	<div class="bottomspace">
		<div class="product">
			<h3 class="col-sm-offset-2 col-sm-9">Add New Services</h3>
			<form class="form-horizontal" role="form" name="addserviceForm" ng-submit="addserviceForm.$valid" novalidate="novalidate">
				<div class="form-group">
					<label for="product_service_name" class="col-sm-2 control-label">Service Name </label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="product_service_name" name="product_service_name" ng-model="addservice.product_service_name" placeholder="Enter Service Name here" required>
							<span class="help-block" ng-show="addserviceForm.product_service_name.$dirty && addserviceForm.product_service_name.$invalid">
								<span ng-show="addserviceForm.product_service_name.$error.required" class="text-danger">Service name is required</span>
							</span>
					</div>
				</div>
				<div class="form-group">
					<label for="servicelogo" class="col-sm-2 control-label">Select Image </label>
					<div class="col-sm-9">
					<input type="file" id="serviceImages" ng-file-select ng-multiple="true" accept="image/jpeg,image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="serviceImages">
					<!-- This will show thumbnails & progress of images -->
					<file-preview url="serviceImages"></file-preview>
					<!-- This button will show if file/s selected -->
					<button ng-show="serviceImages" ng-click="upload(serviceImages,path,userinfo,addservice.product_image)" type="button">Upload</button>
					<!-- This hidden input will store image path in array after successful uploading -->
					<input type="hidden" ng-model="addservice.product_image">
					</div>
				</div>
				<div>
					<input type="hidden" ng-model="addservice.user_id" value="{{addservice.user_id}}">
				</div>
				<div>
					<input type="hidden" ng-model="addservice.date">
				</div>	
				<div class="form-group">
					<label class="col-sm-2 control-label" for="description">Service Description 
					</label>
					<div  class="col-sm-9">
						<textarea type="text" class="form-control" id="description" name="description" ng-model="addservice.description" cols="30" rows="4"  placeholder="Enter Service Description" ui-tinymce required>
						</textarea>
							<p ng-hide="addserviceForm.description.$error.maxlength">
								{{ 256 - addservice.description.length + " Chars left" }}
							</p>							
							<span class="help-block" ng-show="addserviceForm.description.$dirty && addserviceForm.description.$invalid">
								<span class="text-danger" ng-show="addserviceForm.description.$error.maxlength">Sorry You are Exceeding the Limit</span>
								<span ng-show="addserviceForm.description.$error.required" class="text-danger"> Service Description is required.</span>
							</span>
					</div>
					<input type="hidden" ng-model="addservice.type" ng-init="addservice.type='service'">
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-9">
						<button type="submit" class="btn btn-default btn-success" ng-disabled=" addserviceForm.$invalid" ng-click="postData(addservice)" title="submit">
						Add Service</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>
</div>
