<div class="row">		
	<div class="col-sm-12">	
		<div class="main-content">
				<div class="bottomspace">
					<ng-include src="'modules/business/toolbar.html'"></ng-include>
				<div class="bottomspace">
					<div class="row">
						<div class="col-sm-3">
							<select id="selectBusiness" class="form-control" ng-change="changeScope(selectBusiness)" ng-model="selectBusiness" ng-options="item as item.business_name for item in businessList"> 
								<option value="">Select Business</option>
							<select id="biz" class="form-control" ng-model="biz"> 		
								<option value="">{{product.business_name}}</option>
							</select>
						</div>
						<div class="col-sm-3" ng-show="selectBusiness">
							<select id="view" class="form-control" ng-model="productType" ng-change="changeScopeObject(productType)">{{productType}} 
								<option value="product">Product</option>
								<option value="service">Services</option>
							</select>
						</div>
						<div class="col-sm-6" ng-show="selectBusiness">
							<div class="text-right">
								<button ng-if="selectBusiness && productType=='product'" class="btn btn-default" ng-model="showProductForm" ng-click="showForm('showProductForm')"><span ng-if=
								"showProductForm===true">Close Form </span><span ng-if="showProductForm===false">
								Add Product</span></button>
								
								<button ng-if="selectBusiness && productType=='service'" class="btn btn-default" ng-model="showServiceForm" ng-click="showForm('showServiceForm')"><span ng-if="showServiceForm===true">Close Form </span><span ng-if="showServiceForm===false">Add Service</span></button>
							</div>
						</div>
					</div>
				</div>
				<ng-include ng-if="productType=='service' && showServiceForm==true" src="'modules/business/products/addservices.html' "></ng-include>	
				
				<ng-include ng-if="productType=='product' && showProductForm==true" src="'modules/business/products/addproducts.html'"></ng-include>
				
				<ng-include ng-show="selectBusiness && productType=='service'" src="'modules/business/products/servicelist.html'"></ng-include>
				
				<ng-include ng-if="selectBusiness && productType=='product'"  src="'modules/business/products/productlist.html'"></ng-include>
		</div>
		</div>
	</div>
</div>



	
