<div class="table-responsive">
  <table class="table table-bordered table-striped">
  <thead>
      <th>sr.no</th>
      <th>test name</th>
      <th>test points</th>
      <th>status</th>
      <th>manage</th>
</thead>
      <tbody>
          <tr>
			  <td>1</td>
			  <td>Test1</td>
			  <td>100</td>
			  <td>solved</td>
			  <td>
				<div class="btn-group" role="group" aria-label="first group">
					<!-- <a href="#/dashboard/users/createusergroup/1" class="btn btn-info" tooltip="Edit">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
					<button type="button" class="btn btn-danger ng-pristine ng-valid active" tooltip="Remove Group" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
						<span class="glyphicon glyphicon-remove"></span>
					</button> -->
					<a href="#/dashboard/tests/viewtest" class="btn btn-primary ng-pristine ng-valid active" tooltip="View Test" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
						View Test
					</a>
					<button type="button" class="btn btn-success ng-pristine ng-valid active" tooltip="Start Test" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
						Start Test
					</button>
				</div>
			</td>
          </tr>
          <tr>
          <td>2</td>
          <td>Test2</td>
          <td>50</td>
          <td>solved</td>
          <td>
					<div class="btn-group" role="group" aria-label="first group">
						<!-- <a href="#/dashboard/users/createusergroup/1" class="btn btn-info" tooltip="Edit">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<button type="button" class="btn btn-danger ng-pristine ng-valid active" tooltip="Remove Group" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							<span class="glyphicon glyphicon-remove"></span>
						</button> -->
						<button type="button" class="btn btn-primary ng-pristine ng-valid active" tooltip="View Test" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							View Test
						</button>
						<button type="button" class="btn btn-success ng-pristine ng-valid active" tooltip="Start Test" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							Start Test
						</button>
					</div>
				</td>
          </tr>
          <tr>
          <td>3</td>
          <td>Test3</td>
          <td>40</td>
          <td>solved</td>
          <td>
					<div class="btn-group" role="group" aria-label="first group">
						<!-- <a href="#/dashboard/users/createusergroup/1" class="btn btn-info" tooltip="Edit">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<button type="button" class="btn btn-danger ng-pristine ng-valid active" tooltip="Remove Group" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							<span class="glyphicon glyphicon-remove"></span>
						</button> -->
						<button type="button" class="btn btn-primary ng-pristine ng-valid active" tooltip="View Test" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							View Test
						</button>
						<button type="button" class="btn btn-success ng-pristine ng-valid active" tooltip="Start Test" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							Start Test
						</button>
					</div>
				</td>
          </tr>
          <tr>
          <td>4</td>
          <td>Test4</td>
          <td>40</td>
          <td>solved</td>
          <td>
					<div class="btn-group" role="group" aria-label="first group">
						<!-- <a href="#/dashboard/users/createusergroup/1" class="btn btn-info" tooltip="Edit">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<button type="button" class="btn btn-danger ng-pristine ng-valid active" tooltip="Remove Group" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							<span class="glyphicon glyphicon-remove"></span>
						</button> -->
						<button type="button" class="btn btn-primary ng-pristine ng-valid active" tooltip="View Test" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							View Test
						</button>
						<button type="button" class="btn btn-success ng-pristine ng-valid active" tooltip="Start Test" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							Start Test
						</button>
					</div>
				</td>
          </tr>
          <tr>
          <td>5</td>
          <td>Test5</td>
          <td>20</td>
          <td>solved</td>
          <td>
					<div class="btn-group" role="group" aria-label="first group">
						<!-- <a href="#/dashboard/users/createusergroup/1" class="btn btn-info" tooltip="Edit">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<button type="button" class="btn btn-danger ng-pristine ng-valid active" tooltip="Remove Group" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							<span class="glyphicon glyphicon-remove"></span>
						</button> -->
						<button type="button" class="btn btn-primary ng-pristine ng-valid active" tooltip="View Test" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							View Test
						</button>
						<button type="button" class="btn btn-success ng-pristine ng-valid active" tooltip="Start Test" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							Start Test
						</button>
					</div>
				</td>
          </tr>
          <tr>
          <td>6</td>
          <td>Test6</td>
          <td>50</td>
          <td>solved</td>
          <td>
					<div class="btn-group" role="group" aria-label="first group">
						<!-- <a href="#/dashboard/users/createusergroup/1" class="btn btn-info" tooltip="Edit">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<button type="button" class="btn btn-danger ng-pristine ng-valid active" tooltip="Remove Group" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							<span class="glyphicon glyphicon-remove"></span>
						</button> -->
						<button type="button" class="btn btn-primary ng-pristine ng-valid active" tooltip="View Test" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							View Test
						</button>
						<button type="button" class="btn btn-success ng-pristine ng-valid active" tooltip="Start Test" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							Start Test
						</button>
					</div>
				</td>
          </tr>
          <tr>
          <td>7</td>
          <td>Test7</td>
          <td>50</td>
          <td>unsolved</td>
          <td>
					<div class="btn-group" role="group" aria-label="first group">
						<!-- <a href="#/dashboard/users/createusergroup/1" class="btn btn-info" tooltip="Edit">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<button type="button" class="btn btn-danger ng-pristine ng-valid active" tooltip="Remove Group" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<button type="button" class="btn btn-primary ng-pristine ng-valid active" tooltip="View Test" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							View Test
						</button> -->
						<button type="button" class="btn btn-success ng-pristine ng-valid active" tooltip="Start Test" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							Start Test
						</button>
					</div>
				</td>
          </tr>
          <tr>
          <td>1</td>
          <td>addition</td>
          <td>100</td>
          <td>solved</td>
          <td>
					<div class="btn-group" role="group" aria-label="first group">
						<a href="#/dashboard/users/createusergroup/1" class="btn btn-info" tooltip="Edit">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<button type="button" class="btn btn-danger ng-pristine ng-valid active" tooltip="Remove Group" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<button type="button" class="btn btn-primary ng-pristine ng-valid active" tooltip="View Test" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							View Test
						</button>
						<button type="button" class="btn btn-success ng-pristine ng-valid active" tooltip="Start Test" ng-model="groups.status" ng-change="changeStatusFn('status', groups.status, groups.id)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'">
							Start Test
						</button>
					</div>
				</td>
          </tr>
      </tbody>
</table> 
</div>