<!DOCTYPE html>
<html ng-app="myApp" ng-controller="enquiryController">
	<head>
		<link rel="stylesheet" href="/website/templates/default/css/bootstrap.min.css">
		<link rel="stylesheet" href="/website/templates/default/css/style.css">
		<script src="/website/templates/default/js/jquery.min.js"></script>
		<script src="/website/templates/default/js/bootstrap.min.js"></script>
		<script src="/website/templates/default/js/angular.min.js"></script>
		<script src="/website/templates/default/js/angular-route.min.js"></script>
		<script src="/website/templates/default/js/script.js"></script>
		<title>Welcome </title>
		<meta name="description" content="">
		<meta name="keywords" content="">
	</head>
	<body >
		<div ng-include="hostUrl+'header.html'"></div>
		<div ng-include="hostUrl+'navbar.html'"></div>
		<div ng-view></div>
		<div ng-include="hostUrl+'footer.html'"></div>
		
	</body>
</html>