<div class="row">
	<div class="col-sm-12 text-right">
		<button ng-if="!infra" type="button" class="btn btn-default btn-primary" title="next" ng-click="update(businessData)">Save Details</button>
		<button ng-if="!infra" class="btn btn-default btn-info" ng-click="showForm('infra', 'gallery')">Add Gallery</button>
	</div>
</div>
 
<form name="galleryForm" ng-if="infra" role="form" class="form-horizontal" ng-submit="galleryForm.$valid" novalidate="novalidate"> <!-- <span ng-show="userDetails.user_group"></span>{{userDetails.group_name}} -->
	<div class="form-group" >
		<div class="col-sm-9 col-sm-offset-3">
			<button ng-if="infra && !headingDisabled" class="btn btn-default btn-primary" ng-click=	"addToObject(gallery, businessData.gallery, 'gallery')" ng-disabled="galleryForm.$invalid">Add Gallery</button>
			<button ng-if="infra && headingDisabled" class="btn btn-default btn-info" ng-click="addToObject(gallery, businessData.gallery, 'gallery')" title="Add Gallery">Edit Details</button>
			<button ng-if="infra" class="btn btn-default btn-danger" ng-click="showForm('infra')"><span ng-show="infra">Cancel</span></button>
		</div>
	</div>
	<div class="form-group" >
		<label  for="gallery_image" class="col-sm-3 control-label">Add Image</label>
		<div class="col-sm-3">
			<div ng-class="(!headingDisabled || !imgRemoved) ? 'btn btn-default' : '' " id="gallery_image" name="gallery_image" ng-file-select ng-multiple="false" accept="image/jpeg,image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="gallery_image">
				<ul ng-if="headingDisabled" class="list-unstyled">
					<li ng-repeat="(key, value) in gallery.desc.image"><img ng-model="imgKey" ng-init="imgKey = key" ng-src="{{appConfig.assetPath + '/' + value.file_name}}" width="100%" /></li>
				</ul>
				<span ng-if="!headingDisabled">Select Image</span>
			</div>
			<span ng-if="headingDisabled || imgRemoved" ng-model="imgRemoved" class="close" ng-click="removeObject('0',gallery.desc.image)" tooltip="Remove Image">X</span>
			<!-- This will show thumbnails & progress of images -->
				<file-preview url="gallery_image"></file-preview>
				<!-- This button will show if file/s selected -->
				<button ng-show="gallery_image" ng-click="upload(gallery_image,path,userinfo, gallery.desc.image)" type="button">Upload</button>
				<!-- This hidden input will store image path in array after successful uploading -->
				<input type="hidden" ng-model="gallery.desc.image">
		</div>
	</div>

	<div class="form-group">
		<label for="infraHeading" class="col-sm-3 control-label" name="infraHeading" >Title</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="infraHeading" id="infraHeading"  ng-model="gallery.heading" required ng-disabled="headingDisabled">
			<span class="help-block" ng-show="galleryForm.infraHeading.$dirty && galleryForm.infraHeading.$invalid">
			<span ng-show="galleryForm.infraHeading.$error.required" class="text-danger">Sender Country is required.</span>
			</span>				
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Featured Gallery</label>
		<div class="col-sm-9 radio">
			<label><input type="radio" name="featuredGallery" id="featuredGallery" value="0" ng-model="gallery.desc.featured" required> No </label>
			<label><input type="radio" name="featuredGallery" id="featuredGallery" value="1" ng-model="gallery.desc.featured" required> Yes</label>
			<span class="help-block" ng-show="galleryForm.featuredGallery.$dirty && galleryForm.featuredGallery.$invalid">
			<span ng-show="galleryForm.featuredGallery.$error.required" class="text-danger">Sender Country is required.</span>
			</span>				
		</div>
	</div>	

	<div class="form-group">
		<label for="infraDesc" class="col-sm-3 control-label">Infrastucture Description</label>
		<div class="col-sm-9">
			<textarea type="text" class="form-control" id="infraDesc" name="infraDesc" ng-model="gallery.desc.description" cols="30" rows="4" ng-maxlength="256" placeholder="Enter Infrastucture Description" required></textarea>
				<p ng-hide="galleryForm.infraDesc.$error.maxlength">
					{{ 256 - gallery.desc.length + " Chars left" }}
				</p>
				
				<span class="help-block" ng-show="galleryForm.infraDesc.$dirty && galleryForm.infraDesc.$invalid">
					<span class="text-danger" ng-show="galleryForm.infraDesc.$error.maxlength">Sorry You are Exceeding the Limit</span>
					<span ng-show="galleryForm.infraDesc.$error.required" class="text-danger">Infrastucture Description is required.</span>
				</span>	
		</div>
	</div>
	<div>
		<input type="hidden" name="gallery" ng-model="addbusiness.gallery" />
		<span class="help-block" ng-show="galleryForm.gallery.$dirty && galleryForm.gallery.$invalid">
			<span ng-show="galleryForm.gallery.$error.required" class="text-danger">Infrastucture Description is required.</span>
		</span>
	</div>
</form>

<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered table-responsive " ng-if="businessData.gallery">
			<tr>
				<th>Infrastucture Heading</th>
				<th>Infrastucture Description</th>
				<th>Remove </th>
			</tr>
			<tr ng-repeat="(key, value) in businessData.gallery">
				<td>{{key}}</td>
				<td class="tdwidth">
					<div class="pull-left" ng-bind-html="value.description">
					</div>
					<ul class="list-unstyled pull-right">
						<li ng-repeat="(key, value) in value.image"><img ng-model="imgKey" ng-init="imgKey = key" ng-src="{{appConfig.assetPath + '/' + value.file_name}}" width="100%" /></li>
					</ul>
				</td>
				<td>
				<button class="btn btn-success glyphicon glyphicon-pencil" ng-click="editObject(key,businessData.gallery, gallery); showForm('infra')" tooltip="Edit Details"></button>
				<button class="btn btn-warning glyphicon glyphicon-trash" ng-click="removeObject(key,businessData.gallery)" tooltip="Remove"></button>			
				</td>
				
			</tr>
		</table>
	</div>
</div>
