<div class="row">
	<div class="col-sm-12 text-right">
		<button ng-if="!infra" type="button" class="btn btn-default btn-primary" title="next" ng-click="update(businessData)">Save Details</button>
		<button ng-if="!infra" class="btn btn-default btn-info" ng-click="showForm('infra', 'infrastructure')">Add Infrastucture</button>
	</div>
</div>
 
<form name="infrastructureForm" ng-if="infra" role="form" class="form-horizontal" ng-submit="infrastructureForm.$valid" novalidate="novalidate"> <!-- <span ng-show="userDetails.user_group"></span>{{userDetails.group_name}} -->
	<div class="form-group" >
		<div class="col-sm-9 col-sm-offset-3">
			<button ng-if="infra && !headingDisabled" class="btn btn-default btn-primary" ng-click=	"addToObject(infrastructure, businessData.infrastructure, 'infrastructure')" ng-disabled="infrastructureForm.$invalid">Add Infrastucture</button>
			<button ng-if="infra && headingDisabled" class="btn btn-default btn-info" ng-click="addToObject(infrastructure, businessData.infrastructure, 'infrastructure')" title="Add Infrastucture">Edit Details</button>
			<button ng-if="infra" class="btn btn-default btn-danger" ng-click="showForm('infra')"><span ng-show="infra">Cancel</span></button>
		</div>
	</div>
	<div class="form-group" >
		<label  for="infra_image" class="col-sm-3 control-label">Add Image</label>
		<div class="col-sm-3">
			<div ng-class="(!headingDisabled || !imgRemoved) ? 'btn btn-default' : '' " id="infra_image" name="infra_image" ng-file-select ng-multiple="false" accept="image/jpeg,image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="infra_image">
				<ul ng-if="headingDisabled" class="list-unstyled">
					<li ng-repeat="(key, value) in infrastructure.desc.image"><img ng-model="imgKey" ng-init="imgKey = key" ng-src="{{appConfig.assetPath + '/' + value.file_name}}" width="100%" /></li>
				</ul>
				<span ng-if="!headingDisabled">Select Image</span>
			</div>
			<span ng-if="headingDisabled || imgRemoved" ng-model="imgRemoved" class="close" ng-click="removeObject('0',infrastructure.desc.image)" tooltip="Remove Image">X</span>
			<!-- This will show thumbnails & progress of images -->
				<file-preview url="infra_image"></file-preview>
				<!-- This button will show if file/s selected -->
				<button ng-show="infra_image" ng-click="upload(infra_image,path,userinfo, infrastructure.desc.image)" type="button">Upload</button>
				<!-- This hidden input will store image path in array after successful uploading -->
				<input type="hidden" ng-model="infrastructure.desc.image">
		</div>
	</div>

	<div class="form-group">
		<label for="infraHeading" class="col-sm-3 control-label" name="infraHeading" >Infrastucture Heading</label>
		<div class="col-sm-9">
			<select class="form-control" name="infraHeading" id="infraHeading"  ng-model="infrastructure.heading" required ng-options="item as item for item in biz.infrastructure" ng-disabled="headingDisabled">
				<option value="">Select Heading</option>					
			</select>
			<span class="help-block" ng-show="infrastructureForm.infraHeading.$dirty && infrastructureForm.infraHeading.$invalid">
			<span ng-show="infrastructureForm.infraHeading.$error.required" class="text-danger">Sender Country is required.</span>
			</span>				
		</div>
	</div>	

	<div class="form-group">
		<label for="infraDesc" class="col-sm-3 control-label">Infrastucture Description</label>
		<div class="col-sm-9">
			<textarea type="text" class="form-control" id="infraDesc" name="infraDesc" ng-model="infrastructure.desc.description" cols="30" rows="4" ng-maxlength="256" placeholder="Enter Infrastucture Description" ui-tinymce required></textarea>
				<p ng-hide="infrastructureForm.infraDesc.$error.maxlength">
					{{ 256 - infrastructure.desc.length + " Chars left" }}
				</p>
				
				<span class="help-block" ng-show="infrastructureForm.infraDesc.$dirty && infrastructureForm.infraDesc.$invalid">
					<span class="text-danger" ng-show="infrastructureForm.infraDesc.$error.maxlength">Sorry You are Exceeding the Limit</span>
					<span ng-show="infrastructureForm.infraDesc.$error.required" class="text-danger">Infrastucture Description is required.</span>
				</span>	
		</div>
	</div>
	<div>
		<input type="hidden" name="infrastructure" ng-model="addbusiness.infrastructure" />
		<span class="help-block" ng-show="infrastructureForm.infrastructure.$dirty && infrastructureForm.infrastructure.$invalid">
			<span ng-show="infrastructureForm.infrastructure.$error.required" class="text-danger">Infrastucture Description is required.</span>
		</span>
	</div>
</form>

<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered table-responsive " ng-if="businessData.infrastructure">
			<tr>
				<th>Infrastucture Heading</th>
				<th>Infrastucture Description</th>
				<th>Remove </th>
			</tr>
			<tr ng-repeat="(key, value) in businessData.infrastructure">
				<td>{{key}}</td>
				<td class="tdwidth">
					<div class="pull-left" ng-bind-html="value.description">
					</div>
					<ul class="list-unstyled pull-right">
						<li ng-repeat="(key, value) in value.image"><img ng-model="imgKey" ng-init="imgKey = key" ng-src="{{appConfig.assetPath + '/' + value.file_name}}" width="100%" /></li>
					</ul>
				</td>
				<td>
				<button class="btn btn-success glyphicon glyphicon-pencil" ng-click="editObject(key,businessData.infrastructure, infrastructure); showForm('infra')" tooltip="Edit Details"></button>
				<button class="btn btn-warning glyphicon glyphicon-trash" ng-click="removeObject(key,businessData.infrastructure)" tooltip="Remove"></button>			
				</td>
				
			</tr>
		</table>
	</div>
</div>
