<div class="sidebar">
	<ul class="nav nav-pills nav-stacked">
		<!-- <li ng-class="{active: formPart=='home'}"><a ng-click="showFormPart('home')">
		Business Information</a></li>
		<li ng-class="{active: formPart=='business'}"><a ng-click="showFormPart('business')">Business Profile</a></li> -->
		<li ng-class="{active: formPart=='infrastructure'}"><a ng-click="showFormPart('infrastructure')">Infrastructure Facility</a></li>
		<li ng-class="{active: formPart=='testimonials'}"><a ng-click="showFormPart('testimonials')">Testimonials</a></li>
		<li ng-class="{active: formPart=='job'}"><a ng-click="showFormPart('job')">Job & Careers</a></li>
		<li ng-class="{active: formPart=='news'}"><a ng-click="showFormPart('news')">News Coverage</a></li> 
		<li ng-class="{active: formPart=='gallery'}"><a ng-click="showFormPart('gallery')">
		Gallery</a></li> 
	</ul>
</div>