<h3 class="col-sm-offset-2 col-sm-9">Request For New Site</h3>
	<form name="requestsiteForm" class="form-horizontal" role="form" ng-submit="requestsiteForm.$valid" novalidate="novalidate">
		<div class="form-group">	
			<label  for="domain_name" class="col-sm-2 control-label">Domain Name</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="domain_name" ng-model="reqnewsite.domain_name" name="domain_name" placeholder="Enter Domain " required>
				<span class="help-block" ng-show="requestsiteForm.domain_name.$dirty && requestsiteForm.domain_name.$invalid">
					<span class="text-danger" ng-show="requestsiteForm.domain_name.$error.required">Domain  is required.</span>
					<span class="text-danger"ng-show="requestsiteForm.domain_name.$error.url">Invalid Web Site.</span>
				</span>
				<span>e.g www.google.com</span>
			</div>						
		</div>
		<div class="form-group">	
			<label  for="other_domain" class="col-sm-2 control-label">Other Domain</label>
			<div class="col-sm-9">
				<textarea type="text" class="form-control" id="other_domain" name="other_domain" ng-model="reqnewsite.description.other_domain" cols="30" rows="4" ng-maxlength="256" placeholder="description" ui-tinymce required></textarea>
				<span class="help-block" ng-show="requestsiteForm.other_domain.$dirty && requestsiteForm.other_domain.$invalid">
					<span class="text-danger" ng-show="requestsiteForm.other_domain.$error.required">Domain  is required.</span>
					<span class="text-danger"ng-show="requestsiteForm.other_domain.$error.url">Invalid Web Site.</span>
				</span>
				<span>e.g www.google.com</span>
			</div>						
		</div>			
		<div class="form-group">
			<label for="contactno" class="col-md-2 control-label">Contact Number </label>
			<div class="col-md-9">
				<input type="text" id="contactno" name="contactno" class="form-control" ng-model="reqnewsite.description.contact" placeholder="Your Contact No" ng-pattern="/^[789]\d{9}$/" maxlength="10" required>
					<span class="help-block" ng-show="requestsiteForm.contactno.$dirty && requestsiteForm.contactno.$invalid">
						<span ng-show="requestsiteForm.contactno.$error.pattern && (requestsiteForm.contactno.$dirty || submitted)" class="text-danger">Enter a valid Contact Number .</span>
					</span>
			</div>	
		</div>
		<div>
			<input type="hidden" ng-model="reqnewsite.date">
		</div>	
		<div>
			<input type="hidden" ng-model="reqnewsite.user_id">
		</div>	
		
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Name </label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="name" ng-model="reqnewsite.description.name" name="name" placeholder="Enter Name" required>
						<span class="help-block" ng-show="requestsiteForm.name.$dirty && requestsiteForm.name.$invalid">
						<span class="text-danger" ng-show="requestsiteForm.name.$error.required">name is required.</span>
						</span>	
				</div>
		</div>	
		<div class="form-group">
			<label for="description" class="col-sm-2 control-label">Description</label>
			<div class="col-sm-9">
				<textarea type="text" class="form-control" id="description" name="description" ng-model="reqnewsite.description.desc" cols="30" rows="4" ng-maxlength="256" placeholder="description" ui-tinymce required></textarea>
					<p ng-hide="requestsiteForm.description.$error.maxlength">
					{{ 256 - description.length + " Chars left" }}
					</p>
					<span class="help-block" ng-show="requestsiteForm.description.$dirty && requestsiteForm.description.$invalid">
						<span class="text-danger" ng-show="requestsiteForm.description.$error.maxlength">Sorry You are Exceeding the Limit</span>
						<span class="text-danger" ng-show="requestsiteForm.description.$error.required">Please enter Product/Services.</span>
					</span>
			</div>						
		</div>	
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-9">
				<button type="submit" class="btn btn-success" ng-disabled="requestsiteForm.$invalid" ng-click="postData(reqnewsite)">Send Request</button>
				<button type="reset" class="btn btn-danger">Reset</button>
			</div>
		</div>					
	</form>

