<div class="modal-content">		
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-12">
					<div class="table-responsive">	
						<table class="table table-bordered table-hover">
						<tr><th>WEBSITES DETAILS</th></tr>
						<tr "modalOptions.website | orderBy:sort">
							<td>
								<table class="table table-responsive">
									<tr><th>UserId</th>
									<td>{{modalOptions.website.user_id}}</td></tr>
									<tr><th>Domain Name</th><td>{{modalOptions.website.domain_name}}</td></tr>
									<tr><th>Validity</th><td>{{modalOptions.website.validity}}</td></tr>
									<tr><th>Domain Price</th><td>{{modalOptions.website.domain_price}}</td></tr>
									<tr><th>Status</th><td>{{modalOptions.website.status}}</td></tr>
									<tr><th>Description</th><td>{{modalOptions.website.description}}</td></tr>
								</table>
							</td>
							<td>
								<table class="table table-responsive">
									<tr><th>Date</th><td>{{modalOptions.website.date}}</td></tr>
									<tr><th>Expiry Date</th><td>{{modalOptions.website.expiry_date}}</td></tr>
									<tr><th>Registered Date</th><td>{{modalOptions.website.registred_date}}</td></tr>
								</table>
							</td>
						</tr>
						</table>
					</div>
					<p>{{modalOptions.tempList | json}}</p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="modalOptions.ok()">OK</button>
	</div>
</div>			
