<div class="main-content">
	<ng-include src="'modules/component/toolbar.html'"></ng-include>
		<div class="row">
			<div class="col-sm-12">
				<div class="text-right">
				<a href="#/dashboard/websites/websiteslist" class="btn btn-default">Website List</a>
				<a href="#/dashboard/websites/requestnewsite" class="btn btn-default">Request New Site</a>
				<a href="#/dashboard/websites/requestedsitelist" class="btn btn-default">Requested Site List</a>
				</div>
				<div>
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
				</div>
			</div>
			<div class="col-sm-12">	
				<ng-include ng-if="websitePart=='websiteslist'" src="'modules/websites/websiteslist.html'"></ng-include>
				<ng-include ng-if="websitePart=='requestnewsite'" src="'modules/websites/requestnewsite.html'"></ng-include>
				<ng-include ng-if="websitePart=='requestedsitelist'" src="'modules/websites/requestedsitelist.html'"></ng-include>
			</div>
		</div>
</div>
	
