
<h3 class="border-bottom">Add Question</h3>
<form name="testGroupForm" role="form" class="form-horizontal" ng-submit="testGroupForm.$valid" novalidate="novalidate"> <!-- <span ng-show="userDetails.user_group"></span>{{userDetails.group_name}} -->
	<div class="form-group">
		<label for="topic_name" class="col-sm-2 control-label" name="topic_name" >Select Level</label>
		<div class="col-sm-3">
			<select class="form-control" ng-model="question.level" ng-options="level.level_id as level.level_name for level in testConfig.levels" required>
				<option value="">Select Level</option>
			</select>		
		</div>
		<label for="topic_name" class="col-sm-2 control-label" name="topic_name" >Select Subject</label>
		<div class="col-sm-3">
			<select class="form-control" ng-model="question.subject" ng-options="subject.subject_id as subject.subject_name for subject in testConfig.subjects | filter : {level_id : topics.level_id}" required>
				<option value="">Select Subject</option>
			</select>	
		</div>
	</div>
	<div class="form-group">
		<label for="topic_name" class="col-sm-2 control-label" name="topic_name" >Select Topic</label>
		<div class="col-sm-3">
			<select class="form-control" ng-model="question.topic" ng-options="topic.topic_id as topic.topic_name for topic in testConfig.topics | filter : {level_id : topics.subject_id, level_id : topics.level_id}" required>
				<option value="">Select Topic</option>
			</select>	
		</div>
	
		<label for="topic_name" class="col-sm-2 control-label" name="topic_name" >Select Question Type</label>
		<div class="col-sm-3">
			<select class="form-control" ng-model="question.type" ng-options="type.id as type.type_name for type in testConfig.question_type" required>
				<option value="">Select Question Type</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Question</label>
		<div class="col-sm-8">
			<textarea type="text" class="form-control" name="group_name" id="group_name" ng-model="question.question" required></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Answer</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" name="group_name" id="group_name" ng-model="question.answer" required>
		</div>
	</div>
	<ng-include ng-if="question.type=='multiplechoice'" src="'modules/tests/questions/questions/questiontypes/multiplechoice.html'"></ng-include>
    <ng-include ng-if="question.type=='truefalse'" src="'modules/tests/questions/questions/questiontypes/truefalse.html'"></ng-include>
    <ng-include ng-if="question.type=='multipleresponse'" src="'modules/tests/questions/questions/questiontypes/multipleresponse.html'"></ng-include>
    <ng-include ng-if="question.type=='fillintheblank'" src="'modules/tests/questions/questions/questiontypes/fillintheblank.html'"></ng-include>
    <ng-include ng-if="question.type=='maching'" src="'modules/tests/questions/questions/questiontypes/maching.html'"></ng-include>
    <ng-include ng-if="question.type=='wordbank'" src="'modules/tests/questions/questions/questiontypes/wordbank.html'"></ng-include>
    <ng-include ng-if="question.type=='shortessay'" src="'modules/tests/questions/questions/questiontypes/shortessay.html'"></ng-include>
    <ng-include ng-if="question.type=='clickmap'" src="'modules/tests/questions/questions/questiontypes/clickmap.html'"></ng-include>

	<div class="form-group" >
		<div class="col-sm-8 col-sm-offset-2">
			<button class="btn btn-default btn-primary" ng-click="addToObject(testgroup, testgroups, 'levels', 'level_id')" ng-disabled="testGroupForm.$invalid">Add Question</button>
			<button class="btn btn-default btn-danger" ng-click="showForm('level')">Cancel</button>
		</div>
	</div>
</form>