<h2>List of Questions</h2>
<div class="row">
	<div class="col-sm-4">
		<div class="form-group">
			<select class="form-control" ng-model="question.level" ng-options="level.level_id as level.level_name for level in testConfig.levels" required>
				<option value="">Select Level</option>
			</select>		
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<select class="form-control" ng-model="question.subject" ng-options="subject.subject_id as subject.subject_name for subject in testConfig.subjects | filter : {level_id : topics.level_id}" required>
				<option value="">Select Subject</option>
			</select>	
		</div>
	</div>
	<!-- <div class="col-sm-3">
		<div class="form-group">
			<select class="form-control" ng-model="question.topic" ng-options="topic.topic_id as topic.topic_name for topic in testConfig.topics | filter : {level_id : topics.subject_id, level_id : topics.level_id}" required>
				<option value="">Select Topic</option>
			</select>	
		</div>
	</div> -->	
	<div class="col-sm-4">
		<div class="form-group">
			<select class="form-control" ng-model="question.type" ng-options="type.id as type.type_name for type in testConfig.question_type" required>
				<option value="">Select Question Type</option>
			</select>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th>Sr.No</th>
					<th>Question</th>
					<th>Question Type</th>
					<th>Level</th>
					<th>Subject</th>
					<th>Answer</th>
					<th>Manage</th>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>A body of mass 4Kg when a force of 200N acts on it produces an acceleration of</td>
						<td>MCQ</td>
						<td>8th Standard</td>
						<td>Science</td>
						<td>50 m/sec2</td>
						<td>
							<a type="button" tooltip="Edit Question" class="btn btn-success ">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a type="button" tooltip="Delete Question" class="btn btn-info ">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Which of the following is made use of to open the tightened lid of a bottle?</td>
						<td>MCQ</td>
						<td>8th Standard</td>
						<td>Science</td>
						<td>Thermal expansion</td>
						<td>
							<a type="button" tooltip="Edit Question" class="btn btn-success ">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a type="button" tooltip="Delete Question" class="btn btn-info ">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Which one of the following is seldom responsible for cracking of rocks?</td>
						<td>MCQ</td>
						<td>8th Standard</td>
						<td>Science</td>
						<td>Hydrogen bond</td>
						<td>
							<a type="button" tooltip="Edit Question" class="btn btn-success ">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a type="button" tooltip="Delete Question" class="btn btn-info ">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Objects thrown vertically upwards move for a certain distance and then falls back due to</td>
						<td>MCQ</td>
						<td>8th Standard</td>
						<td>Science</td>
						<td>Gravitational Force</td>
						<td>
							<a type="button" tooltip="Edit Question" class="btn btn-success ">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a type="button" tooltip="Delete Question" class="btn btn-info ">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Momentum of a body depends upon its</td>
						<td>MCQ</td>
						<td>8th Standard</td>
						<td>Science</td>
						<td>Mass and time</td>
						<td>
							<a type="button" tooltip="Edit Question" class="btn btn-success ">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a type="button" tooltip="Delete Question" class="btn btn-info ">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr> 
				</tbody>
			</table>
		</div>
	</div>
</div>