<h2>List of Questions</h2>
<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
			<select class="form-control" ng-model="question.level" ng-options="level.level_id as level.level_name for level in testConfig.levels" required>
				<option value="">Select Level</option>
			</select>		
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<select class="form-control" ng-model="question.subject" ng-options="subject.subject_id as subject.subject_name for subject in testConfig.subjects | filter : {level_id : topics.level_id}" required>
				<option value="">Select Subject</option>
			</select>	
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<select class="form-control" ng-model="question.topic" ng-options="topic.topic_id as topic.topic_name for topic in testConfig.topics | filter : {level_id : topics.subject_id, level_id : topics.level_id}" required>
				<option value="">Select Topic</option>
			</select>	
		</div>
	</div>	
	<div class="col-sm-3">
		<div class="form-group">
			<select class="form-control" ng-model="question.type" ng-options="type.id as type.type_name for type in testConfig.question_type" required>
				<option value="">Select Question Type</option>
			</select>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th>Sr.No</th>
					<th>Question</th>
					<th>Question Type</th>
					<th>Level</th>
					<th>Subject</th>
					<th>Answer</th>
					<th>Manage</th>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>What is long form of WWW?</td>
						<td>MCQ</td>
						<td>1st Standard</td>
						<td>Computer</td>
						<td>World Wide Web</td>
						<td>
							<a type="button" tooltip="Edit Question" class="btn btn-success ">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a type="button" tooltip="Delete Question" class="btn btn-info ">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Who is the father of the Internet?</td>
						<td>MCQ</td>
						<td>4th Standard</td>
						<td>English</td>
						<td>Vint Cerf</td>
						<td>
							<a type="button" tooltip="Edit Question" class="btn btn-success ">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a type="button" tooltip="Delete Question" class="btn btn-info ">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Who is the father of the Internet?</td>
						<td>MCQ</td>
						<td>4th Standard</td>
						<td>English</td>
						<td>Vint Cerf</td>
						<td>
							<a type="button" tooltip="Edit Question" class="btn btn-success ">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a type="button" tooltip="Delete Question" class="btn btn-info ">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Who is the father of the Internet?</td>
						<td>MCQ</td>
						<td>4th Standard</td>
						<td>English</td>
						<td>Vint Cerf</td>
						<td>
							<a type="button" tooltip="Edit Question" class="btn btn-success ">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a type="button" tooltip="Delete Question" class="btn btn-info ">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Who is the father of the Internet?</td>
						<td>MCQ</td>
						<td>4th Standard</td>
						<td>English</td>
						<td>Vint Cerf</td>
						<td>
							<a type="button" tooltip="Edit Question" class="btn btn-success ">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a type="button" tooltip="Delete Question" class="btn btn-info ">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>