<div class="pull-right">
<button class="btn btn-default" type="button"><span class="glyphicon glyphicon glyphicon-arrow-left iconback"></span></button>
	<a class="btn btn-default">
		<span class="glyphicon glyphicon-th-large dropdown-toggle iconback" data-toggle="dropdown" aria-expanded="false"></span>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">New Tab</a></li>
				<li><a href="#">New Window</a></li>
				<li><a href="#">History</a></li>
				<li><a href="#">Recent Tab</a></li>
				<li><a href="#">Zoom</a></li>
				<li><a href="#">Find</a></li>
				<li><a href="#">Exit</a></li>
			</ul>
	</a>
</div>