<div class="col-md-12 border-bottom">
	<ol class="breadcrumb pull-left">
		<li><a href="#">Dashboard</a></li>
		<li class="active">e-Learning</li>
		<li class="active">Catagory</li>
	</ol>
	<div class="pull-right toolbar">
		<span class="book-nos">No of Books: <span id="bookNo">**</span></span>
			<form class="form-inline">
				<div class="input-group">
					<input type="text" class="form-control iconback" placeholder="Search">
						<span class="input-group-btn">
						<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search iconsearch"></span></button>
						</span>
				</div>
			</form>
				<button class="btn btn-default" type="button"><span class="glyphicon glyphicon glyphicon-arrow-left iconback"></span></button>
					<a class="btn btn-default">
						<span class="glyphicon glyphicon-th-large dropdown-toggle iconback" data-toggle="dropdown" aria-expanded="false"></span>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">New Tab</a></li>
							<li><a href="#">New Window</a></li>
							<li><a href="#">History</a></li>
							<li><a href="#">Recent Tab</a></li>
							<li><a href="#">Zoom</a></li>
							<li><a href="#">Find</a></li>
							<li><a href="#">Exit</a></li>
						</ul>
					</a>
	</div>
</div>
			