
<div class="form-group">
	<label for="business_type" class="col-sm-3 control-label" name="business_type" >Primary Business Type</label>
	<div class="col-sm-9">
		<select class="form-control" name="business_type" id="business_type"  ng-model="addbusiness.business_profile.business_type" required ng-options="item as item for item in biz.business_type">		
			<option value="">Select Type</option>
		</select>
		<span class="help-block" ng-show="addbusinessForm.business_type.$dirty && addbusinessForm.business_type.$invalid">
			<span ng-show="addbusinessForm.business_type.$error.required" class="text-danger">Primary Business Type is required.</span>
		</span>				
	</div>
</div>		

<div class="form-group">
	<label  for="biz_catalog" class="col-sm-3 control-label">Small Business Catalog</label>
	<div class="col-sm-9">
		<input type="text" id="biz_catalog" class="form-control" name="biz_catalog" placeholder="Small Business Catalog" ng-model="addbusiness.business_profile.biz_catalog" required >
		<span class="help-block" ng-show="addbusinessForm.biz_catalog.$dirty && addbusinessForm.biz_catalog.$invalid">
		<span ng-show="addbusinessForm.biz_catalog.$error.required" class="text-danger">Small Business Catalog is required.</span>
		</span>
	</div>						
</div>



<div class="form-group">
	<label for="Website" class="col-sm-3 control-label">Alternate Website </label>
	<div class="col-sm-9">
		<input type="url" class="form-control" id="Website" ng-model="addbusiness.business_profile.website" name="Website" placeholder="Enter Website " required>
		<span class="help-block" ng-show="addbusinessForm.Website.$dirty && addbusinessForm.Website.$invalid">
			<span ng-show="addbusinessForm.Website.$error.required" class="text-danger">Website  is required.</span>
			<span ng-show="addbusinessForm.Website.$error.url" class="text-danger">Invalid Web Site.</span>
		</span>
		<span>e.g http://www.google.com</span>
	</div>						
</div>	

<div class="form-group">
	<label for="establishment" class="col-sm-3 control-label">Year Of Establishment</label>
	<div class="col-sm-9">
		<select class="form-control" name="establishment" id="establishment"  ng-model="addbusiness.business_profile.establishment" required ng-options="item as item for item in biz.year">		
			<option value="">Select Establish Year</option>		
		</select>
		<span class="help-block" ng-show="addbusinessForm.establishment.$dirty && addbusinessForm.establishment.$invalid">
			<span ng-show="addbusinessForm.establishment.$error.required" class="text-danger">Year Of Establishment is required.</span>
		</span>				
	</div>
</div>	

<div class="form-group">
	<label for="no_of_employees" class="col-sm-3 control-label">No. Of Employees</label>
	<div class="col-sm-9">
		<select class="form-control" name="no_of_employees" id="no_of_employees"  ng-model="addbusiness.business_profile.no_of_employees" required ng-options="item as item for item in biz.employees">		
			<option value="">--Choose One--</option>
		</select>
		<span class="help-block" ng-show="addbusinessForm.no_of_employees.$dirty && addbusinessForm.no_of_employees.$invalid">
			<span ng-show="addbusinessForm.no_of_employees.$error.required" class="text-danger">No. Of Employees is required.</span>
		</span>				
	</div>
</div>	
	
<div class="form-group">
	<label class="col-sm-3 control-label" >Additional Business</label>
	<div class="col-sm-9">	
		<div ng-repeat="x in biz.additional_business">		
					<input id="check" type="checkbox" checklist-model="addbusiness.business_profile.additional_business" checklist-value="x" > {{x}}
		</div>
	</div>
</div>
<div class="form-group">
	<label for="aboutDescription" class="col-sm-3 control-label">About Company </br>
	<small>This will show on Website About Us Page</small></label>
	<div class="col-sm-9">
		<textarea type="text" class="form-control" id="aboutDescription" name="aboutDescription" ng-model="addbusiness.business_info.aboutDescription" cols="30" rows="4" ng-maxlength="5000" placeholder="Detailed Description of Company" ui-tinymce required></textarea>
			<p ng-hide="addbusinessForm.aboutDescription.$error.maxlength">
				{{ 5000 - addbusiness.business_info.aboutDescription.length + " Chars left"}} 
			</p>
			
			<span class="help-block" ng-show="addbusinessForm.aboutDescription.$dirty && addbusinessForm.aboutDescription.$invalid">
				<span class="text-danger" ng-show="addbusinessForm.aboutDescription.$error.maxlength">Sorry You are Exceeding the Limit</span>
				<span ng-show="addbusinessForm.aboutDescription.$error.required" class="text-danger">About Company Description of company is required.</span>
			</span>		
	</div>
</div>  												
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
	  <button type="submit" class="btn btn-primary btn-default" title="Save" ng-click="showFormPart('contact')">Next</button>
	</div>
</div>

