<div class="form-group" ng-if="userDetails.group_name == ('admin' || 'salesman' || 'manager')" ng-model="addbusiness.user_id">
	<label for="customer" class="col-sm-3 control-label">Customer</label>
	<div class="col-sm-7">
			<select class="form-control" name="customer" id="customer"  ng-model="addbusiness.user_id" ng-options="item.id as item.name for item in selectUsers" required>
				<option value="">Select Customer</option>
			</select>
		<span class="help-block" ng-show="addbusinessForm.customer.$dirty && addbusinessForm.customer.$invalid">
			<span ng-show="addbusinessForm.customer.$error.required" class="text-danger">Customer is required.</span>
		</span>	
	</div>
	<div class="col-sm-2">
		<a href="#/dashboard/users/adduser" class="btn btn-default">Add New User</a>
	</div>
</div>

<div class="form-group">
	<label for="Salseman" class="col-sm-3 control-label">User Id</label>
	<div class="col-sm-9">
		<span ng-if="userDetails.group_name == 'salesman'" >
			<input type="text" class="form-control" ng-model="addbusiness.salesman_id" ng-init="addbusiness.salesman_id = userDetails.id" readonly/>
		</span>
		<span ng-if="userDetails.group_name == 'admin' || userDetails.group_name == 'manager'">
			<input  type="text" class="form-control" ng-model="addbusiness.manager_id" ng-init="addbusiness.manager_id = userDetails.id" readonly/>
		</span>
		<span ng-if="userDetails.group_name == 'customer'">
			<input type="text" class="form-control" ng-model="addbusiness.user_id" ng-init="addbusiness.user_id = userDetails.id" readonly/>
		</span>
	</div>
</div>

<div class="form-group">
	<label  for="business_name" class="col-sm-3 control-label">Business Name</label>
	<div class="col-sm-9">
		<input type="hidden" ng-model="addbusiness.created_date">
		<input type="text" id="business_name" class="form-control" name="business_name" placeholder="Business Name" ng-model="addbusiness.business_name" required >
		<span class="help-block" ng-show="addbusinessForm.business_name.$dirty && addbusinessForm.business_name.$invalid">
			<span ng-show="addbusinessForm.business_name.$error.required" class="text-danger">Business Name is required.</span>
		</span>
	</div>						
</div>

<div class="form-group" >
	<label  for="business_logo" class="col-sm-3 control-label">Business Logo</label>
	<div class="col-sm-9">
		<input type="file" id="business_logo" name="business_logo" ng-file-select ng-multiple="false" accept="image/jpeg,image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="business_logo">	
		<!-- This will show thumbnails & progress of images -->
			<file-preview url="business_logo"></file-preview>
			<!-- This button will show if file/s selected -->
			<button ng-show="business_logo" ng-click="upload(business_logo,path,userinfo, addbusiness.business_logo)" type="button">Upload</button>
			<!-- This hidden input will store image path in array after successful uploading -->
			<input type="hidden" ng-model="addbusiness.business_logo">		
	</div>
</div>	

<div class="form-group">
	<label for="category" class="col-sm-3 control-label" name="category" >Category</label>
	<div class="col-sm-9">
		<select class="form-control" name="category" id="category"  ng-model="addbusiness.category" required ng-options="item as item for item in biz.category">		
			<option value="">Select Category</option>
		</select>
		<span class="help-block" ng-show="addbusinessForm.category.$dirty && addbusinessForm.category.$invalid">
		<span ng-show="addbusinessForm.category.$error.required" class="text-danger">Category Type is required.</span>
		</span>				
	</div>
</div>	

<div class="form-group">
	<label for="ownership" class="col-sm-3 control-label" name="ownership" >Ownership Type</label>
	<div class="col-sm-9">
		<select class="form-control" name="ownership" id="ownership"  ng-model="addbusiness.ownership" required ng-model="addbusiness.ownership" required ng-options="item as item for item in biz.ownership">		
			<option value="">Select Ownership Type</option>
		</select>
		<span class="help-block" ng-show="addbusinessForm.ownership.$dirty && addbusinessForm.ownership.$invalid">
		<span ng-show="addbusinessForm.ownership.$error.required" class="text-danger">Ownership Type is required.</span>
		</span>				
	</div>
</div>

<div class="form-group">
	<label for="keyDes" class="col-sm-3 control-label">Short Description of your Company <br><small>(Visible in Small Business search)</small></label>
	<div class="col-sm-9">
		<textarea type="text" class="form-control" id="keywords" name="keywords" ng-model="addbusiness.business_info.keywords" cols="30" rows="4" ng-maxlength="256" placeholder="Enter Short Description of company" required>
		</textarea>
			<p ng-hide="addbusinessForm.keywords.$error.maxlength">
				{{ 256 - addbusiness.business_info.keywords.length + " Chars left" }}
			</p>
			
			<span class="help-block" ng-show="addbusinessForm.keywords.$dirty && addbusinessForm.keywords.$invalid">
				<span class="text-danger" ng-show="addbusinessForm.keywords.$error.maxlength">Sorry You are Exceeding the Limit</span>
				<span ng-show="addbusinessForm.keywords.$error.required" class="text-danger">Short Description of company is required.</span>
			</span>	
	</div>
</div>  
<div class="form-group">
	<label for="description" class="col-sm-3 control-label">Detailed Description of Company </br>
	<small>This will show on Website Home Page</small></label>
	<div class="col-sm-9">
		<textarea type="text" class="form-control" id="description" name="description" ng-model="addbusiness.business_info.description" cols="30" rows="4" ng-maxlength="5000" placeholder="Detailed Description of Company" ui-tinymce required></textarea>
			<p ng-hide="addbusinessForm.description.$error.maxlength">
				{{ 5000 - addbusiness.business_info.description.length + " Chars left"}} 
			</p>
			
			<span class="help-block" ng-show="addbusinessForm.description.$dirty && addbusinessForm.description.$invalid">
				<span class="text-danger" ng-show="addbusinessForm.description.$error.maxlength">Sorry You are Exceeding the Limit</span>
				<span ng-show="addbusinessForm.description.$error.required" class="text-danger">Detailed Description of company is required.</span>
			</span>		
	</div>
</div>  
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<button type="submit" class="btn btn-default btn-primary" title="Save" ng-click="showFormPart('business')">Next</button>
	</div>
</div>