<div class="pull-right">
	<button class="btn btn-primary" type="button" go-back tooltip="Back"> <!-- created go-back directive for go back one step like back btn on browser -->
	<span class="glyphicon glyphicon glyphicon-arrow-left">
	</span>
	</button> 
	<div class="btn-group" dropdown>
		<button class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled" tooltip="List">
			<span class="glyphicon glyphicon-th-large dropdown-toggle"></span>
		</button>
		<ul  class="dropdown-menu dropd" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#/dashboard">Dashboard</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#/dashboard/enquiry">Mail BOX</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#/dashboard/templates/listoftemplates">Template</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#/dashboard/business/businesslist">Business</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#/dashboard/websites/websiteslist">Website</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#/dashboard/users">Users</a></li>
			
		</ul>
	</div>
</div>
	
