<div class="btn-group btn1" dropdown>
				<a class="btn btn-link">
					Trupti
				</a>
				<span dropdown-toggle><img src="img/blog_pic2.jpg" class="img-responsive img-circle pull-right im1"></span>
				<ul class="dropdown-menu" role="menu">
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href="#">
							<span class="glyphicon glyphicon-pencil"></span> Edit Profile
						</a>
					</li>
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href="#"> 
						<span class="glyphicon glyphicon-off"></span> Sign Out
						</a>
					</li>
				</ul>
</div>
<div class="form-group">
			<div class="pull-left">
				<a  class="btn btn-default" name="btn1" ng-model="login.btn1" 
				href="#login">Login</a>
				<a  class="btn btn-default" name="btn1" ng-model="login.btn1" 
				href="#register">Register</a>
			</div>						
</div>